<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width:device-width, device-pixel-ratio: 2">
    <title>Alô Alerj</title>
    <link rel="stylesheet" type="text/css" href="chat.css">
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
    <div class="linha-dourada"></div>
    <div class="linha-azul"></div>
    <div class="linha-sombra"></div>
    <div class="botao-voltar">
        <img src="../svg/voltar.svg" class="icone-voltar"/>
    </div>

    <div class="info-chat">
        <div class="atendente">Atendente Roberto Almeida</div>
        <div class="tempo-de-atendimento">visto há 2 minutos</div>
    </div>

    <img src="../svg/logo-chat.svg" class="logo-chat"/>

</div>

<div class="container-chat">

</div>

<div class="input-chat">

</div>

</body>
</html>