<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alô Alerj Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
</head>
<body>

<!-- Header -->
<div class="barra-dourada-top"></div>
<div class="cabecalho chat">
    <div class="container-fluid ">
        <div class="row row-eq-height">


            <div class="col-xs-12 col-sm-offset-1 col-sm-9">

                <div class="visible-xs col-xs-2">
                    <div class="botao-voltar">
                        <img src="../svg/voltar.svg" class="icone-voltar">
                    </div>
                </div>


                <div class="hidden-xs col-xs-4 col-sm-2">
                    <a href="/">
                        <object type="image/svg+xml" data="//aloalerjsite.antoniocarlosribeiro.com//templates/mv/svg/logo-alerj-monocromatica.svg" class="alerj-logo">
                            Alerj Logo <!-- fallback image in CSS -->
                        </object>
                    </a>
                </div>


                <div class="hidden-xs  col-xs-8 col-sm-3">
                    <object type="image/svg+xml" data="//aloalerjsite.antoniocarlosribeiro.com//templates/mv/svg/logo-alo-alerj.svg" class="alolerj-logo img-responsive">
                        AloAlerj Logo
                    </object>
                </div>
                <div class="hidden-xs col-sm-7"> </div>

                <div class="visible-xs col-xs-8 chat-mobile">
                    <div class="info-chat-home">
                        <div class="atendente-home">Atendente Roberto Almeida</div>
                        <div class="tempo-de-atendimento-home">visto há 2 minutos</div>
                    </div>
                </div>

                <div class="visible-xs col-xs-2">
                    <img src="../svg/logo-chat.svg" class="logo-chat">
                </div>


            </div>


            <div class="sidebar-right-top hidden-xs col-sm-2 text-center">
                <img src="//aloalerjsite.antoniocarlosribeiro.com/templates/mv/svg/balao-chat.svg" alt="" class="balao-chat">
                <div class="info-chat-home">
                    <div class="atendente-home">Atendente Roberto Almeida</div>
                    <div class="tempo-de-atendimento-home">visto há 2 minutos</div>
                </div>
            </div>

            <div class="hidden-xs col-sm-1">

            </div>


        </div>
    </div>
</div>
<!-- End Header -->





<!-- Footer -->
<footer class="footer-chat">
    <div class="container-fluid">
        <div class="row">

            <form class="form-inline" role="form">
                <div class="form-group">

                    <div class=" col-sm-offset-1 col-xs-9 col-sm-9">
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" class="form-control chat-mensagem" id="btn-input" placeholder="Digite sua mensagem aqui...">
                    </div>
                    <div class="  col-xs-3  col-sm-2">
                    <button type="submit" class="btn btn-lg btn-primary hidden-xs">Enviar</button>
                    <button type="submit" class="btn btn-primary visible-xs">Enviar</button>
                    </div>


                </div>
            </form>
        </div>
    </div>
</footer>

<!-- End Footer -->

</body>
</html>