
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/navbar-fixed-top.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../css/chat-bubbles.css" rel="stylesheet">




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<nav class="cabecalho chat navbar-fixed-top">

    <div class="container-fluid ">
        <div class="row row-eq-height">


            <div class="col-xs-12 col-md-offset-1 col-sm-12">
                <div class="visible-xs col-xs-2 visible-sm col-sm-2 ">
                    <div class="botao-voltar">
                        <img src="../svg/voltar.svg" class="icone-voltar">
                    </div>
                </div>

                <div class="hidden-xs hidden-sm col-md-2">
                    <a href="/">
                        <object type="image/svg+xml" data="//aloalerjsite.antoniocarlosribeiro.com//templates/mv/svg/logo-alerj-monocromatica.svg" class="alerj-logo">
                            Alerj Logo <!-- fallback image in CSS -->
                        </object>
                    </a>
                </div>


                <div class="hidden-xs hidden-sm col-md-3">
                    <object type="image/svg+xml" data="//aloalerjsite.antoniocarlosribeiro.com//templates/mv/svg/logo-alo-alerj.svg" class="alolerj-logo img-responsive">
                        AloAlerj Logo
                    </object>
                </div>
                <div class="hidden-xs hidden-sm col-md-7"> </div>

                <div class="visible-xs visible-sm col-xs-8 chat-mobile text-center">
                    <div class="info-chat-home">
                        <div class="atendente-home">Atendente Roberto Almeida</div>
                        <div class="tempo-de-atendimento-home">visto há 2 minutos</div>
                    </div>
                </div>

                <div class="visible-xs visible-sm  col-xs-2">
                    <img src="../svg/logo-chat.svg" class="logo-chat">
                </div>


            </div>


            <div class="sidebar-right-top hidden-xs hidden-sm col-md-2 text-center">
                <img src="//aloalerjsite.antoniocarlosribeiro.com/templates/mv/svg/balao-chat.svg" alt="" class="balao-chat">
                <div class="info-chat-home">
                    <div class="atendente-home">Atendente Roberto Almeida</div>
                    <div class="tempo-de-atendimento-home">visto há 2 minutos</div>
                </div>
            </div>

            <div class="hidden-xs col-sm-1">

            </div>


        </div>
    </div>

    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#">Project name</a>-->
        <!--</div>-->
        <!--<div id="navbar" class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a href="#about">About</a></li>-->
                <!--<li><a href="#contact">Contact</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="../navbar/">Default</a></li>-->
                <!--<li><a href="../navbar-static-top/">Static top</a></li>-->
                <!--<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->





</nav>

<div id="container-chat" class="container-fluid chat-miolo">

    <div class="row">
        <div class="bubble">
            Blue text bubble
            <small class="time">11:35</small>
        </div>
    </div>

    <div class="row">
        <div class="bubble bubble--alt">
            Green text bubble
            <small class="time">11:35</small>
        </div>
    </div>

    <div class="row">
        <div class="bubble">
            A bubble containing lots and lots and lots and lots of content on multiple lines
            <small class="time">11:35</small>
        </div>
    </div>

    <div class="row">
        <div class="bubble bubble--alt">
            Bubble with image
            <small class="time">11:35</small>
        </div>
    </div>

 <!--   <div class="row">
        <div class="bubble">
            Bubblewitharidiculouslylongwordwhichwrapseffortlesslyontotwolines
            <small class="time">11:35</small>
        </div>
    </div>


    <div class="row">
        <div class="talk-bubble tri-right round border left-top">
            <div class="talktext">
                <p>And finally on the right flush at the top. Uses .round .border and .right-top And finally on the right flush at the top. Uses .round .border and .right-top And finally on the right flush at the top. Uses .round .border and .right-top </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="talk-bubble tri-right round border right-top pull-right">
            <div class="talktext">
                <p>And finally on the right flush at the top. Uses .round .border and .right-top</p>
            </div>
        </div>
    </div>
-->
    <div class="row">
        <div class="talk-bubble tri-right round border left-top">
            <div class="talktext">
                <p>And finally on the right flush at the top. Uses .round .border and .right-top</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="talk-bubble tri-right round border right-top pull-right">
            <div class="talktext">
                <p>And finally on the right flush at the top. Uses .round .border and .right-top</p>
            </div>
        </div>
    </div>




</div> <!-- /container -->




<div class="footer-chat navbar navbar-default navbar-fixed-bottom">

    <div class="container-fluid">
        <div class="row">

            <form class="form-inline" role="form">
                <div class="form-group">

                    <div class=" col-sm-offset-1 col-xs-9 col-sm-9">
                        <label class="sr-only" for="inputEmail">Email</label>
                        <input type="email" class="form-control chat-mensagem" id="btn-input" placeholder="Digite sua mensagem aqui...">
                    </div>
                    <div class="col-xs-3  col-sm-2 button-send">
                        <button onclick="return false;" class="btn btn-lg btn-primary hidden-xs send-button">Enviar</button>
                        <button  onclick="return false;" class="btn btn-primary visible-xs send-button">Enviar</button>
                    </div>


                </div>
            </form>
        </div>
    </div>

    <!--<div class="container">
        <p class="navbar-text pull-left">© 2014 - Site Built By Mr. M.
            <a href="http://tinyurl.com/tbvalid" target="_blank">HTML 5 Validation</a>
        </p>

        <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
            <span class="glyphicon glyphicon-star"></span>&nbsp; Subscribe on YouTube</a>
    </div>-->


</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<script>
    $(".send-button").click(function ()
    {
        console.log('qualquer coisa');
        $("#container-chat").append('  <div class="row"><div class="talk-bubble tri-right round border left-top"><div class="talktext"><p>And finally on the right flush at the top. Uses .round .border and .right-top And finally on the right flush at the top. Uses .round .border and .right-top And finally on the right flush at the top. Uses .round .border and .right-top </p></div></div></div>');

    });
    jQuery('#container-chat').bind('DOMSubtreeModified', function(e) {
        if (e.target.innerHTML.length > 0) {
            jQuery("html, body").animate(
                    {
                        scrollTop: jQuery(document).height()
                    },
                    "fast"
            );
        }
    });
</script>


</body>
</html>
