
@media only screen and (-webkit-min-device-pixel-ratio : 1) and (device-aspect-ratio: 2/3) and (orientation : portrait) {

    body {
        width: 100%;
        font-size: 250%;
        background-color: #FFFFFF;
    }

    .header {
        width: 100%;
        height: 180px;
        position: fixed;
        top: 0%;
        left: 0;
        background-color: #EFEFF1;
        z-index: 100;

    }

    .linha-dourada {
        width: 100%;
        height: 9px;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: #8FA143;

    }

    .linha-azul {
        width: 100%;
        height: 15px;
        position: absolute;
        top: 10px;
        left: 0;
        background-color: #172B53;
    }

    .linha-sombra {
        width: 100%;
        height: 6px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #B6BCC7;
    }

    .botao-voltar {
        width: 130px;
        height: 130px;
        position: absolute;
        top: 34px;
        left: 3%;

    }

    .icone-voltar {
        width: 40%;
        height: auto;
        position: absolute;
        top: 14%;
        left: 25%;
    }

    .logo-chat {
        width: 215px;
        height: auto;
        position: absolute;
        top: 15.5px;
        right: 2%;
    }

    .info-chat {
        width: 54.166666666667%;
        height: 130px;
        position: absolute;
        left: 20%;
        top: 50px;
    }

    .atendente {
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        color: #172B53;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .tempo-de-atendimento {
        font-family: "Maven Pro";
        font-size: 0.8em;
        color: #49515B;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .input-chat {
        width: 100%;
        height: 126px;
        background-color: #EFEFF1;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .linha-sombra-input {
        width: 100%;
        height: 6px;
        background-color: #B6BCC7;
        position: absolute;
        top: 0;
        left: 0%;
    }

    .input-msn {
        width: 72.916666666667%;
        height: 80px;
        position: absolute;
        top: 24px;
        left: 2%;
        border: solid 2px;
        border-color: #172B53;
        border-radius: 1em;
    }

    .botao-enviar {
        font-family: 'Maven Pro', sans-serif, 'Normal 400';
        font-size: 1.3em;
        color: #172B53;
        position: absolute;
        top: 32px;
        right: 5%;
    }

    .container-chat {
        width: 100%;
        height: auto;
        position: absolute;
        top: 180px;
        left: 0%;
        overflow-y: scroll;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: 126px;
        padding-top: 180px;

    }

    .conversa {
        font-family: 'Maven Pro', sans-serif, 'Normal 400';
        font-size: 1em;
        color: #172B53;
        margin: 0;
        padding: 0;
    }

    .time {
        font-size: 0.6em;
        color: #8FA143;

    }

    .msn {
        padding: 35px;
        margin-bottom: 10px;
        border-color: #172B53;
        border: solid 0.035em;
        float: right;
        border-radius: 1em;
        margin: 15px;
        text-align: right;

    }

    .left {
        background-color: #F2F2F2;
        float: left;
        text-align: left;
    }

    .right {
        background-color: #E0E5CB;
        float: right;
        text-align: right;
    }

    .msn p {
        margin-top: 2px;
        margin-bottom: 10px;
    }

    .row {
        width: 100%;
        background-color: #2b542c;
    }

}