.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin: auto ;
    width: 60%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 70%;*/
    /*height: 70%;*/
}

.cabecalho img {
    width: 60px;
    height: 60px;
    /*margin-top: 10px;*/
}

/*@media only (min-width : 768px) {*/
    /*.cabecalho img {*/
        /*width: 60px;*/
    /*}*/
/*}*/
/*@media only (max-width : 992px) and (min-width : 769px) {*/
    /*.cabecalho img {*/
        /*width: 120px;*/
    /*}*/
/*}*/
/*@media only screen and (min-width : 992px) {*/
    /*.cabecalho img {*/
        /*width: 156px;*/
    /*}*/
/*}*/


