body {
  background-color: #e8eaed;
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.adicione {
  position: absolute;
  top: 249px;
  left: 0;
  z-index: 7;
  font: 400 1em/1.38 Lora;
  color: #3db9e6;
}

.agora-o-alo {
  position: absolute;
  top: 222px;
  left: 0;
  z-index: 8;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.cabecalho {
  position: relative;
  width: 100%;
  height: 285px;
  margin: -1px auto 0;
  border-top: 1px solid rgb(219, 219, 219);
  background-color: #172b53;
}

.cabecalho:hover {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.container-chat {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 608px;
  background-color: #ffffff;
}

.conteudo-cabecalho {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 12;
  width: 930px;
  height: 294px;
  margin: 0 auto;
}

.footer {
  float: left;
  clear: both;
  width: 100%;
  height: 247px;
  margin-top: 265px;
  background-color: rgb(23, 43, 83);
  position: absolute;
  top: 972px;
}

.image {
  display: block;
  position: absolute;
  top: -8px;
  left: 537px;
  z-index: 11;
  width: 399px;
  height: auto;
  overflow: hidden;
}

.name {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 385px;
  height: 35px;
  margin: 0 auto;
  padding-right: 10px;
  border: 1px solid rgb(23, 43, 83);
  border-radius: 7px;
  background-color: rgba(242, 242, 242, 0.46);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-indent: 10px;
  color: rgb(23, 43, 83);
}

.name:hover {
  border-color: rgb(23, 43, 83);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.titulo {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 9;
  width: 350px;
  height: auto;
  overflow: hidden;
}

.wats-telegram {
  display: block;
  position: absolute;
  top: 170px;
  left: 0;
  z-index: 10;
  width: 96px;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  width: 211px;
  height: 40px;
  margin: 493px auto 0;
  border: 1px solid rgb(21, 40, 78);
  border-radius: 7px;
  background-color: rgb(0, 210, 30);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(19, 37, 75);
}

._textarea {
  display: block;
  position: absolute;
  top: 236px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 385px;
  height: 225px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid rgb(21, 40, 78);
  border-radius: 7px;
  background-color: rgba(242, 242, 242, 0.46);
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  resize: none;
}

.name-1 {
  top: 177px;
  z-index: 3;
}

.name-2 {
  top: 130px;
  z-index: 2;
}

.name-3 {
  top: 81px;
  z-index: 1;
}

.agora-o-alo strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #54f370;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.elogios {
position: relative;
top: 600px;
with: 100%;
height: 354px;
background-color: #C7CCD6;
}

.text-elogios {
font-family: Maven Pro;
text-align: center;
color: #172B53;
width: 750px;
height: auto;
margin-left: -375px; /* metade da largura */
margin-top: auto; /* metade da altura */
position: absolute;
top: 50%;
left: 50%;
border: 1px solid red;
}

.aspas {
	font-family: 'Sorts Mill Goudy', serif;
	font-size:36px;
		
}

.logo-alerj {
	width: 214px;
	height: 284px;
	position: relative;
	margin-bottom:0;
	margin-left: 70%;
}
