
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alô Alerj</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/templates/mv/css/custom.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Header -->
<div class="barra-dourada-top"></div>
<div class="cabecalho">
    <div class="container">
        <div class="row">


            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="col-xs-6">
                    <a href="/">
                        <img src="/templates/mv/svg/logo-alerj-monocromatica.svg" alt="" class="alerj-logo">

                        <!--<object type="image/svg+xml" data="/templates/mv/svg/logo-alerj-monocromatica.svg" class="alerj-logo">-->
                            <!--Alerj Logo &lt;!&ndash; fallback image in CSS &ndash;&gt;-->
                        <!--</object>-->
                    </a>
                </div>

                <div class="col-xs-6">
                    <h1 class="nome-cmissao">Comissão de Defesa<br/>do Consumidor</h1>

                </div>
            </div>

            <div class=" hidden-xs col-sm-5 col-md-5 col-lg-5">
                <a class="buton-tel-uteis" href="#lista" id="btn-telefones-uteis">
                    <div>
                        <img src="/templates/mv/svg/fundo-button-tel.svg" class="buton-fundo-tel-uteis">
                    </div>
                </a>


                <div class="navbar-right hidden-xs col-sm-3 col-md-3 col-lg-3" id="myNavbar">
                    <img src="/templates/mv/svg/logo-alo-alerj.svg">
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->


    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="content col-xs-12 col-sm-9 col-md-9 col-lg-9">


                    <img src="http://www.alerj.rj.gov.br/fotos/busconsumidor_04_fv_30_06_14.jpg" class="img-responsive">
                    <p class="texto-comissao">A Comissão de Defesa dos Direitos do Consumidor zela pelos seus direitos enquanto consumidor, seja de serviços ou produtos. Ela se manifesta aos assuntos referentes à economia popular; à composição, qualidade, apresentação, publicidade e distribuição de bens e serviços; às relações de consumo e medidas de defesa do consumidor; e ao acolhimento e investigação de denúncias relacionados aos direitos do consumidor.<br/>
                        Existem várias formas de entrar em contato com a comissão. Os atendimentos são feitos pelos canais do Alô Alerj ou presencialmente, na sala localizada no térreo do prédio da Alerj, na Rua da Alfândega, número 8. A comissão também vai até você por meio do Ônibus Itinerante, que faz rotas por todo o Estado. Para solicitar a presença do Ônibus da Defesa do Consumidor em seu bairro e conferir os itinerários já programados, <a href="http://www.alerj.rj.gov.br/cdc/" target="_blank"><strong>clique aqui</strong></a>.</p>


            </div>

            <div class="navbar-content-right col-xs-12 col-sm-3 col-md-3 col-lg-3 hidden-xs col-centered">
                <div class="chat">
                    <div id="comunicacao">
                        <div class="infos">
                            <p class="titulo-comissao">DEFESA DO CONSUMIDOR</p>
                            <div class="linha-info"></div>
                            <div class="tel-comissao">0800 023 0007</div>
                            <div class="linha-info"></div>
                            <a href="http://www.alerj.rj.gov.br/cdc/" target="_blank"> <div class="link-site"><strong>http://www.alerj.rj.gov.br/cdc/</strong></div> </a>
                            <p class="outras-info">Atendimento das 8h às 20h</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->


    <div class="content">
        <div class="container">

        </div>
    </div>

    <!-- Footer -->
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="container">
                <div class="panel-heading btn-group dropup">
                    <h4 class="panel-title corpo-comissoes">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Comissões
                        </a>
                    </h4>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body ">
                    <div class="container">
                        <div class="col-md-4 comissoes-footer">
                            <p><a href="/comissoes/defesadoconsumidor">Disque Defesa do Consumidor</a></p>
                            <p>Disque Denúncia Meio Ambiente</p>
                            <p>Disque Preconceitos</p>
                            <p>Disque Pirataria</p>
                        </div>
                        <div class="col-md-4 comissoes-footer">
                            <p>Disque Pessoa Portadora de Deficiência</p>
                            <p>Disque Saneamento Ambiental</p>
                            <p>Disque Segurança Pública</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <img src="/templates/mv/svg/logo-alerj-rodape.svg" class="logo-alerj-rodape img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->
    <script>
        var isShowing = false;

        jQuery(function () {
            jQuery('#btn-telefones-uteis').click(function () {
                if (!isShowing) {
                    jQuery('#agenda-tel-uteis').show(function () {
                        isShowing = true;
                    });
                }
            });

            jQuery(document).click(function (evt) {
                if (jQuery(evt.target).closest('.agenda-tel-uteis').length) {
                    return;
                }

                if (jQuery(evt.target).closest('.indice').length) {
                    return;
                }

                if (isShowing) {
                    jQuery('#agenda-tel-uteis').hide();

                    isShowing = false;
                }
            });
        });
    </script>


    <script language="javascript">
        $('#collapseOne').on('show.bs.collapse', function () {
            $('.panel-heading').animate({
                backgroundColor: "#515151"
            }, 500);
        })
        $('#collapseOne').on('hide.bs.collapse', function () {
            $('.panel-heading').animate({
                backgroundColor: "#00B4FF"
            }, 500);
        })
    </script>

    <!--<script>-->
    <!--jQuery(function() {-->
    <!--jQuery('a[href*=#]:not([href=#])').click(function() {-->
    <!--if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {-->
    <!--var target = jQuery(this.hash);-->
    <!--target = target.length ? target : jQuery('[name=' + this.hash.slice(1) +']');-->
    <!--console.log(target);-->
    <!--if (target.length) {-->
    <!--jQuery(jQuery(target).parent()).animate({-->
    <!--scrollTop: target.offset().top-->
    <!--}, 1500);-->
    <!--return false;-->
    <!--}-->
    <!--}-->
    <!--});-->
    <!--});-->
    <!--</script>-->
</body>
</html>


