


//*****************************  Login Style   *****************************

.login {

  .alolerj-logo-login {
    height: 60px;
    margin-bottom: 15px;
  }

  .card{
    background: #ffffff;
    border-top: 0px solid $blue !important;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px $grey-light03;


    .card-body {
      background: $white;
      .card-title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 0px;
        color: $blue-lighter75;
      }
      .form-control {
        border: solid 1px $grey-light02;
        color: $grey-dark01;
        &::placeholder{
          color: $grey-light03;
        }
      }
      .form-check {
        padding-left: 0;
        .form-check-label {
          color: $grey-dark01;
        }

        input {
          margin-top: 6px;
          position: absolute;
          margin-left: 5px;
        }
      }
      .btn.btn-toggle {
        margin-top: -3px;
      }
    }
  }
}


