
//*****************************  Sections Style   *****************************


.section-title {
  margin-bottom: 23px;
  font-size: 30px;
  border-bottom: solid 0px $grey-dark004;
  color: $grey-light09;

  @media (max-width: 575.98px) {
    font-size: 24px;
  }
}


.section-header {
  border-top: 1px solid $grey-light02;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  color: $grey-light03;

}


.section-heading-bg {
  background-color: $grey-light01;

  box-shadow: inset 0px -2px 4px darken($grey-light02,08%);
  padding-bottom: 30px;
}
