body {
    background-color: #f8fafc;
    font-family: 'Source Sans Pro', sans-serif;
}


section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*

.comissoes {
    column-count: 2;
}

*/



// --------------------------- NAVBAR ---------------------------

.navbar {
    .logo-alerj {
        display: block;
        height: auto;
        width: 52px;
        padding-top: 5px;
        margin-right: 30px;
    }

    .logo-aloalerj {
        display: block;
        height: auto;
        width: 130px;
        padding-top: 5px;
        margin-right: 15px;
    }

    .navbar-brand>img {
        width: 100%;
        height: auto;
    }

    .navbar-nav{

        .nav-item.active {
            .nav-link {
                color: $secondary;
            }
        }

        .nav-link {
            display: inline-block;
            text-decoration: none;
            font-family: proxima-nova,sans-serif;
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;

            /* Inicio -- Mudanças no menu callcenter -- Marcos */
         /*  &:after{
                margin-top: 5px;
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: rgba(255, 255, 255, 0.55);
                transition: width .3s;
            } */
            /* Final - Mudanças no menu callcenter - Marcos */

            &:hover{
                color: #f63;

                /* Inicio - Mudanças no menu callcenter - Marcos */
                /*  &:after{
                    width: 100%;
                }*/
                /* Final - Mudanças no menu callcenter - Marcos */
            }
        }
    }
}











.list-inline {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding-left: 0;

    li {
        display: inline-block;
        margin-left: 0.4em;
        margin-right: 0.3em;
/*        border-right: 1px solid #ffffff;*/



        &:last-child {
            border-right: none;
        }
    }

}








.home-squares {
    font-size: 22px;
    a {
        text-decoration: none;
    }

    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04) !important;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: rgba(255, 255, 255, 0.6);
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }


    .chat {
        img.balao-chat.offline {
            max-width: 100px;
        }
    }

    .telegram-whatsapp {
        .telegram-telefone {
            .telefone {
                font-size: 36px;
            }
        }

        .icones-apps {
            img {
                max-width: 75%;
            }
        }
    }

    .protocolo-bloco {
        .input-group-addon {
            padding: 6px 12px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            color: #555;
            text-align: center;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }

}



.comissoes {
    a {
        text-decoration: none !important;
    }
}





// --------------------------- FOOTER ---------------------------


#footer {



    .comissoes {
        .list-inline {
            li {
                background: #003b77;
                padding: 0.4em 0.6em;
                margin-bottom: 0.8em;
                transition: 0.3s;
                &:hover {
                    /*background: #004c99;*/
                    background: $secondary;
                }
            }
        }
    }


    .social {
        li {
            a {
                transition: all .3s ease-in-out !important;
                i{
                    font-size: 40px !important;
                }

                &:hover {
                    transform: scale(1.2) !important;
                    color: $secondary !important;
                }
            }
        }

    }
}






.mailsent {

    .card {
        background-color: rgba(255, 255, 255, 0.3);
        .card-header {
            background-color: rgba(255, 255, 255, 0.0);
            border-bottom: none;
        }
    }

    .protocolo-numero {
        color: $secondary;
    }
    .codigo-acesso {
        color: $secondary;
    }
}







/**
 * @bugfix Prevent webkit from removing list semantics
 * https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.list-inline > li:before {
    content: "\200B"; /* 1 */
    position: absolute; /* 2 */
}
