hr {
  width: 100%;
  margin: 1.5em 0;
  border: 0;
  border-bottom: 1px dashed $grey-dark004;
}

.hr--invisible {
  border-bottom-color: transparent;
}

/* Boarding Pass */
.boardingPass {
  width: 400px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
  border-radius: 4px;
}

/* Section */
/** Label **/
.section-label {
  display: block;
  text-transform: uppercase;
  font-size: .8rem;
  color: #ff00ff;
}

/** Icon **/
.boardingPass-icon {
  flex-grow: .5;
  color: #00ff00;
}

/* Header */
.boardingPass-header {
  padding: .5em 2em;
  background: linear-gradient(60deg,
          darken(#00ff00, 10%),
          lighten(#00ff00, 10%)
  );
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: $white;
}

.boardingPass-airline {
  margin: 0;
  font-style: italic;
}

/* Main */
.boardingPass-main {
  padding: 2em;
  background: $white;
}

.boardingPass-departur-IATA,
.boardingPass-arrival-IATA {
  display: inline-block;
  line-height: 1;
  font-size: 4rem;
}

.boardingPass-transport {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardingPass-transport-icon {
  transform: rotate(90deg);
  color: #00a400;
  font-size: 36px;
}

/* Footer */
.boardingPass-footer {
  padding: 0 2em 2em;
  background: $white;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.boardingPass-qrCode {
  height: 40px;
  width: 100%;
  background: repeating-linear-gradient(to right,
          $black, $black 2%,
          transparent 2%, transparent 3%,
          $black 3%, $black 4%,
          transparent 4%, transparent 6%,
          $black 6%, $black 7%,
          transparent 7%, transparent 8%,
          $black 8%, $black 10%,
          transparent 10%, transparent 11%
  );
}