
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select2
@import '~select2/src/scss/core';

// Fonts
@import 'fonts';

// Toggle
@import 'toggle';


// Toggle
@import 'buttons';







//*****************************  Navbar Style   *****************************
.navbar-laravel {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-top: 4px solid $blue;
}

.navbar-light {


  .navbar-nav {

    .nav-item {
      border-right: solid 2px #eff1f4;
      margin-right: 10px;
      padding-right: 10px;

      i {
        margin-right: 5px;
        color: $blue-lighter35;
      }


      &:last-child {
        border-right: none;
        margin-right: 0px;
      }

      .nav-link {
        font-size: 16px;
        font-family: 'proxima_nova_altbold';
        text-transform: uppercase;
        color: $blue-lighter50;

        &:hover {
          color: $blue-lighter70;
        }
      }
    }
  }
}





//*****************************  Login Style   *****************************

.login {

  .alolerj-logo-login {
    height: 60px;
    margin-bottom: 15px;
  }

  .card{
    background: #ffffff;
    border-top: 0px solid $blue !important;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px $grey-light03;


    .card-body {
      background: $white;
      .card-title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 0px;
        color: $blue-lighter75;
      }
      .form-control {
        border: solid 1px $grey-light02;
        color: $grey-dark01;
        &::placeholder{
          color: $grey-light03;
        }
      }
      .form-check {
        padding-left: 0;
        .form-check-label {
          color: $grey-dark01;
        }
      }
      .btn.btn-toggle {
        margin-top: -3px;
      }
    }
  }
}


//*****************************  Sections Style   *****************************



.section-title {
  margin-bottom: 23px;
  font-size: 30px;
  border-bottom: solid 0px $grey-dark004;
  color: $grey-light09;
}


.section-header {
  border-top: 1px solid $grey-light02;
  padding-top: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  color: $grey-light03;

}


.section-heading-bg {
  background-color: $grey-light01;

  box-shadow: inset 0px -2px 4px darken($grey-light02,08%);
  padding-bottom: 30px;
}





.no-results {
  margin-top: 50px;
}


/*
.search-spinner{
  margin-top: 50px;

  i {
    .fa-spinner{
      font-size: 250%;

    }
  }

  @media only screen and (min-width: 992px) {

  }
}
*/


.form-bigger {
  margin-bottom: 10px;


  .form-with-labels {
    .form-group {
      margin-bottom: 7px;

      .form-twolines {
        margin: 11px 0 0 -8px;
        padding-bottom: 0;
      }
    }
  }


  .search {
    margin-bottom: 25px;
  }

  .form-control {
    padding: 1.475rem 1.4rem;
    font-size: 1.2rem;
    color: $grey-dark01;
    &::placeholder {
      color: $grey-dark004;
    }
  }

  .select2-container--bootstrap.select2-container--disabled .select2-selection, .select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
    /*padding: 0.6rem 1.4rem 2.3rem 1.4rem;*/
    font-size: 1.2rem;
    background: #e9ecef;
    border: 1px solid #ced4da;
    color: #546975;
  }

  .select2-container--bootstrap {
    .select2-selection--single {
      height: 47px;
      line-height: 1.42857143;
      padding: 0.6rem 1.4rem 2.3rem 1.4rem;

      .select2-selection__rendered {
        font-size: 1.2rem;
      }

      .select2-selection__arrow {
        b {
          border-color: #999 transparent transparent transparent;
          border-style: solid;
          border-width: 6px 6px 0 6px;
          height: 0;
          left: 0;
          margin-left: -10px;
          margin-top: -4px;
          position: absolute;
          top: 50%;
          width: 0;
        }
      }
    }
  }
}


.select2-container--bootstrap.select2-container--open {
  .select2-selection {
    .select2-selection__arrow {
      b {
        border-color: transparent transparent #999 transparent;
        border-width: 0 6px 6px 6px;
      }
    }
  }
}




.user-dates-alerts {
  font-size: 1.2rem;
  font-family: 'proxima_nova_ltsemibold';
  color: lighten( $grey-dark01, 30% ) ;
  .label {
    opacity: 0.7;
    font-size: 85%;
  }
}








.square{
  display: block;
  min-height: 100px;
}

.bg-colored-blue-lighter90 {
  background-color: $blue-lighter90;
}
.bg-colored-blue-lighter80 {
  background-color: $blue-lighter80;
}
.bg-colored-blue-lighter70 {
  background-color: $blue-lighter70;
}
.bg-colored-blue-lighter60 {
  background-color: $blue-lighter60;
}
.bg-colored-blue-lighter50 {
  background-color: $blue-lighter50;
}
.bg-colored-blue-lighter40 {
  background-color: $blue-lighter40;
}
.bg-colored-blue-lighter30 {
  background-color: $blue-lighter30;
}
.bg-colored-blue-lighter20 {
  background-color: $blue-lighter20;
}
.bg-colored-blue-lighter10 {
   background-color: $blue-lighter10;
}


.bg-colored-blue-lighter95 {
  background-color: $blue-lighter95;
}
.bg-colored-blue-lighter85 {
  background-color: $blue-lighter85;
}
.bg-colored-blue-lighter75 {
  background-color: $blue-lighter75;
}
.bg-colored-blue-lighter65 {
  background-color: $blue-lighter65;
}
.bg-colored-blue-lighter55 {
  background-color: $blue-lighter55;
}
.bg-colored-blue-lighter45 {
  background-color: $blue-lighter45;
}
.bg-colored-blue-lighter35 {
  background-color: $blue-lighter35;
}
.bg-colored-blue-lighter25 {
  background-color: $blue-lighter25;
}
.bg-colored-blue-lighter15 {
  background-color: $blue-lighter15;
}




.bg-colored-blue-darker100 {
  background-color: $blue-darker100;
}
.bg-colored-blue-darker75 {
  background-color: $blue-darker75;
}
.bg-colored-blue-darker50 {
  background-color: $blue-darker50;
}
.bg-colored-blue-darker25 {
  background-color: $blue-darker25;
}






.card {
  border: none;
  background: none;
  box-shadow: none;



  .card-header {
    background: none;
    /*background-color: $grey-light01;*/
    border-bottom: 0px solid $grey-light02;
    border-top: 0px solid $grey-light02;
    border-radius: 0.8rem 0.8rem 0 0 ;
    padding: 15px;
    margin-top: 10px;
    color: $grey-dark01;


    h5{
      /*text-transform: uppercase;*/
      /*font-weight: 600;*/
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 0;
    background-color: $grey-light01;
/*    border-radius: 0 0 0.8rem 0.8rem ;*/
    /*box-shadow: 0px 2px 4px $grey-light03;*/

    padding: 0 5px 0 5px;


    .table {
      background: $grey-light01;
      /*border: 1px solid $grey-light02;*/
      border: 0px;

      box-shadow: 0px 2px 4px $grey-light03;
      border-radius: 0.8rem 0.8rem 0.8rem 0.8rem  ;

      thead {
        background: none;
        border-radius: 0;

        th {
          padding: 0.6rem 0.4rem;
          vertical-align: top;
          border-top: 0px solid $grey-light02;
          border-bottom: 1px solid $grey-light02;
          background: $grey-light02;

          &:first-child {
            border-radius: 0.8rem 0 0 0;
            padding-left: 1.5rem;
          }
          &:last-child {
            border-radius: 0 0.8rem 0 0;
          }


        }


      }

      th, td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid $grey-light02;

      }

    }


    .table-striped {
      tbody {

        tr:nth-of-type(odd) {
          /*background-color: rgba(255, 255, 255, 1);*/
          background-color: rgba(255, 255, 255, 0.8);

          &:last-child {
            border-radius: 0 0 0.8rem 0.8rem;

            td {
              &:first-child {
                border-radius: 0 0 0 0.8rem;
              }
              &:last-child {
                border-radius: 0 0 0.8rem 0;
              }

            }
          }
        }
        tr:nth-of-type(even) {
          /*background-color: rgba(255, 255, 255, 0.35);*/
          background-color: rgba(255, 255, 255, 0.2);
        }


        td {
          padding: 0.40rem;
          vertical-align: top;
          border-top: none;

          &:first-child {
            padding-left: 1.5rem;
          }

          a {
            color: #4099de;
            font-weight: 600;

            &:hover {
              color: #2077ba;
              text-decoration: none;
            }
          }
        }

      }
    }

    .table-hover{
      tbody{
        tr{
          &:hover{
            background: darken(#fbfcfd,05%);
          }
        }
      }

    }

    @media only screen and (min-width: 992px) {

      .table-progress {

        td {
          min-width: 100px;
        }

        td {
          &:first-child {
            min-width: 180px;
          }
          &:last-child {
            min-width: 180px;
          }
        }
      }


    }




    .pagination {
      padding-top: 15px;
    }
  }
}





.label-group {


  .label {
    display: inline;
    padding: .3em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

    letter-spacing: 0.055em;



    &:first-child{
      border-right: rgba(0, 0, 0, 0.05) solid 1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
      padding-left: 8px;


    }

    &:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: 0;
      filter: alpha(opacity=80);
      opacity: 0.8;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
      padding: .3em 8px .3em;
    }

    i {
      padding-top: 5px;
    }
  }


}

.label-primary {
  background-color: $green;
}


.label-danger {
  background-color: $red;
}


.bg-grey-light02 {
  background-color: $grey-dark01;
}





[v-cloak] {display: none}




@media only screen and (min-width: 992px) {
  .alerj-logo {
    height: 80px !important;
    /* margin-bottom: 10px; */
    border: none;
    margin-top: -13px;
    margin-left: 45px;
    margin-right: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    float: left;
  }

  .alolerj-logo-home {
    height: 60px;
  }

}






// Breadcrumbs
//*****************************  Breadcrumbs Style   *****************************

.aloalerj-breadcrumbs {
  padding-left: 0;
  margin: 0;

  li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
  }

  li:before {
    content: "/";
    padding-right: 8px;
    padding-left: 8px;
  }

  li:first-child:before {
    content: "";
  }

  li:not(:last-child) {
    opacity: 0.5;
  }

  li:last-child {
    font-weight: bold;
  }
}
