
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select2
@import '~select2/src/scss/core';

// Fonts
@import 'fonts';

// Toggle
@import 'toggle';



.navbar-laravel {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-top: 2px solid $blue;
}

.navbar-light {


  .navbar-nav {

    .nav-item {
      border-right: solid 2px #eff1f4;
      margin-right: 10px;
      padding-right: 10px;


      &:last-child {
        border-right: none;
        margin-right: 0px;
      }



    }


    .nav-link {
      font-size: 16px;
      font-family: 'proxima_nova_altbold';
      text-transform: uppercase;
      color: $blue;
    }
  }
}





.card {
  border: 1px solid rgba(199, 204, 214, 0.7);

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(199, 204, 214, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    h5{
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

[v-cloak] {display: none}




@media only screen and (min-width: 992px) {
  .alerj-logo {
    height: 80px !important;
    /* margin-bottom: 10px; */
    border: none;
    margin-top: -13px;
    margin-left: 45px;
    margin-right: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    float: left;
  }

  .alolerj-logo-home {
    height: 60px;
  }

}




// Breadcrumbs
.aloalerj-breadcrumbs {
  padding-left: 0;
  margin: 0;

  li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
  }

  li:before {
    content: "/";
    padding-right: 8px;
    padding-left: 8px;
  }

  li:first-child:before {
    content: "";
  }

  li:not(:last-child) {
    opacity: 0.5;
  }

  li:last-child {
    font-weight: bold;
  }
}
