
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select2
@import '~select2/src/scss/core';

// Fonts
@import 'fonts';

// Toggle
@import 'toggle';


// Toggle
@import 'buttons';







//*****************************  Navbar Style   *****************************
.navbar-laravel {
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-top: 4px solid $blue;
}

.navbar-light {


  .navbar-nav {

    .nav-item {
      border-right: solid 2px #eff1f4;
      margin-right: 10px;
      padding-right: 10px;

      i {
        margin-right: 5px;
        color: $blue-lighter35;
      }


      &:last-child {
        border-right: none;
        margin-right: 0px;
      }

      .nav-link {
        font-size: 16px;
        font-family: 'proxima_nova_altbold';
        text-transform: uppercase;
        color: $blue-lighter50;

        &:hover {
          color: $blue-lighter70;
        }
      }
    }
  }
}








//*****************************  Login Style   *****************************

.login {

  .alolerj-logo-login {
    height: 60px;
    margin-bottom: 15px;
  }

  .card-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0px;
    color: $blue-lighter75;
  }


  border-top: 5px solid $blue !important;
  padding-bottom: 10px;

  .form-control {
    border: solid 1px $grey-light02;
    color: $grey-dark01;
    &::placeholder{
      color: $grey-light03;
    }

  }

}


//*****************************  Sections Style   *****************************



.section-title {
  margin-bottom: 23px;
  font-size: 30px;
  border-bottom: solid 0px $grey-dark004;
  color: $blue-lighter30;
}







.form-bigger {

  margin-bottom: 10px;
  
  .form-group{


  }

  .search {
    margin-bottom: 25px;
  }
  .form-control {
    padding: 1.475rem 1.4rem;
    font-size: 1.2rem;
    color: $grey-dark01;
    &::placeholder{
      color: $grey-dark004;
    }
  }
}



.user-dates-alerts {
  font-size: 1.2rem;
  font-family: 'proxima_nova_altbold';
  color: $grey-dark01;
  .label {
    opacity: 0.7;
  }
}







.table {
  background: $white;
  /*border: 1px solid $grey-light02;*/
  border: 0px;

  box-shadow: 0px 2px 4px $grey-light03;

  border-radius: 0.5rem;

  thead {
    background: none;
    border-radius: 0.5rem 0.5rem 0 0 ;

    th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 0px solid $grey-light02;
      border-bottom: 0px !important;
    }


  }

  th, td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $grey-light02;
  }

}

.table-hover{
  tbody{
    tr{
      &:hover{
        background: $grey-light01;
      }
    }
  }

}



.card {
  border: 1px solid $grey-light02;
  box-shadow: 0px 2px 4px $grey-light03;

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(199, 204, 214, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    h5{
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}







.bg-grey-light02 {
  background-color: $grey-dark01;
}





[v-cloak] {display: none}




@media only screen and (min-width: 992px) {
  .alerj-logo {
    height: 80px !important;
    /* margin-bottom: 10px; */
    border: none;
    margin-top: -13px;
    margin-left: 45px;
    margin-right: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    float: left;
  }

  .alolerj-logo-home {
    height: 60px;
  }

}






// Breadcrumbs
//*****************************  Breadcrumbs Style   *****************************

.aloalerj-breadcrumbs {
  padding-left: 0;
  margin: 0;

  li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
  }

  li:before {
    content: "/";
    padding-right: 8px;
    padding-left: 8px;
  }

  li:first-child:before {
    content: "";
  }

  li:not(:last-child) {
    opacity: 0.5;
  }

  li:last-child {
    font-weight: bold;
  }
}
