.chat-miolo {
    margin-left: 15px;
    margin-right: 15px;
}

/* Bit of normalisation */



.time {
    font-family: 'Maven Pro', sans-serif, 'Bold 400';
    font-size: 0.6em;
    color: #B0B0B0;
    mix-blend-mode: multiply;
}


/* .bubble */

.bubble {
    background: #F2F2F2;
    border: solid 1px #172B53;
    /* vendor rules */
    border-radius: 20px;
    /* vendor rules */
    box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
    /* vendor rules */
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding: 8px 30px;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
    font-family: 'Maven Pro', sans-serif, 'Bold 400';
    color: #172B53;
    font-size: 1.8em;
}

.bubble:before, .bubble:after {
    border-radius: 20px / 10px;
    content: '';
    display: block;
    position: absolute;
}

.bubble:before {
    border: 10px solid transparent;
    border-bottom-color:#172B53;
    bottom: 0;
    left: -7px;
    z-index: -2;
}

.bubble:after {
    border: 8px solid transparent;
    border-bottom-color: #F2F2F2;
    bottom: 1px;
    left: -5px;
}

.bubble--alt {
    background:#E0E5CB;
    float: right;
}

.bubble--alt:before {
    border-bottom-color: #172B53;
    border-radius: 20px / 10px;
    left: auto;
    right: -7px;
}

.bubble--alt:after {
    border-bottom-color: #E0E5CB;
    border-radius: 20px / 10px;
    left: auto;
    right: -5px;
}




/*
!* General CSS Setup *!
body{
    !*background-color: lightblue;*!
    !*font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;*!
}

!* container *!
.container {
    padding: 5% 5%;
}

!* CSS talk bubble *!
.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    background-color: lightyellow;
}
.border{
    border: 3px solid #666;
}
.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}



.talk-bubble.left-top {
    background: #F2F2F2;
}

.talk-bubble.right-top {
    background: #E0E5CB;
}

!* Right triangle placed top left flush. *!
.tri-right.border.left-top:before {
!*    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;*!

    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -27px;
    right: auto;
    top: -3px;
    bottom: auto;
    border: 25px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #F2F2F2 transparent transparent transparent;
    !*border-color: lightyellow transparent transparent transparent;*!
}







!* Right triangle placed top right flush. *!
.tri-right.border.right-top:before {
    !*content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;*!


    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -28px;
    top: -3px;
    bottom: auto;
    border: 25px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 24px solid;
    border-color:  #E0E5CB transparent transparent transparent;
!*    border-color: lightyellow transparent transparent transparent;*!
}

!* talk bubble contents *!
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}
.talktext p{
    !* remove webkit p margins *!
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}*/
