body {
    font-family: 'Maven Pro', sans-serif, 'Medium 500';
    line-height: 1.5;
    color: #172B53;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #172B53; /* AZUL RODAPE*/
    color: #fff;
}


.cabecalho {
    border-top: 10px solid #172B53;
    border-radius: 0;
    margin-bottom: 0;
    /*font-size: 12px;*/
    /*letter-spacing: 5px;*/
    background: #C7CCD6 !important;
    /*height: 176px;*/
}

.cabecalho:before {
    background: none;
    border-top: 4px solid #8fa143;
}

.barra-dourada-top {
    width: 100%;
    height: 3px;
    background-color: #8FA143;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.sidebar-right-top {
    background-color: #E7E8EC;
}

.sidebar-right {
    background-color: #E7E8EC;
    /*height: 100px;
    padding-top: 0 !important;
    margin-top: 0 !important;
    text-align: center !important;
    padding-bottom: 26px;
    margin-right: 0px;*/
    min-height: calc(100vh - 172px);

}

.navbar-content-right {
    /*font-family: 'Maven Pro', sans-serif, 'Medium 500';*/
    background-color: #E7E8EC;
    height: 100vh !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    color: #172B53;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.alerj-logo {
    height: 152px !important;
    margin-bottom: 10px;
}

.no-svg .alerj-logo {
    background-image: url(images/logo-alerj.svg);
}

.alolerj-logo {
    height: 92px !important;
    margin-top: 30px !important;
}

.no-svg .aloalerj-logo {
    background-image: url(images/logo-alo-alerj.svg);
}

.balao-chat {
    height: 120px;
    margin-top: 20px;
}

.no-svg .balao-chat {
    background-image: url(images/balao-chat.svg);
}


.bg_video {
    /*margin-bottom: 0 !important;*/
    /*padding-bottom: 0 !important;*/
}

#accordion {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.panel-default > .panel-heading {
    background: #172b53;
}

.panel-heading {
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    border-radius: 0;
    margin-bottom: -22px;
    background: #172b53;
    border-bottom: solid 5px #8FA143;
}

.panel-title a {
    color: #172B5;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    outline: none;
    margin-top: -10px;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
    text-decoration: none;
    outline: none;
}

.corpo-comissoes {
    /*width: 100px;
    height: 26px;*/
    background-color: #8FA143;
    border-radius: 15px 15px 0 0;
    text-transform: uppercase !important;
}

.panel-body {
    background: #172b53;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    border-bottom: 5px solid #8FA143;
    border-top: 1px solid #8FA143 !important;
}

.iniciar-conversa {
    border-radius: 5px;
    border-color: #172B53;
    border: 1px solid;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #172B53;
    background-color: #4EC636;
    text-transform: uppercase;
}

.icones-apps {
    margin: 0 20px 0 20px !important;
}

.form-horizontal {
    margin: 60px 20px 0 20px;
}

.texto-chat {
    text-align: center;
    margin: 50px 0 50px 0;
    line-height: 140%;
}

.logo-alerj-rodape {
    margin: -53px 25px -24px 25px;
}

.comissoes-footer {
    /*font-family: 'Oswald', sans-serif;*/
    /*font-weight: 400;*/
    /*color: #fff;*/
    /*font-size: 20px;*/
    text-transform: uppercase;
    letter-spacing: 1px;
}

.comissoes-footer a {
    color: #fff;
    text-decoration: none;
}

.nome-comissao{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 45px;
}
.titulo-comissao {
    font-family: 'Oswald', sans-serif;
    font-size: 2.7em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 1.3em;
}
.tel-comissao {
    font-family: 'Oswald', sans-serif;
    margin-top: 18px;
    margin-bottom: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2.7em;
    text-align: center;
    color: #ffffff;
    background-color: #172B53;
}
.linha-info {
    height: 2px;
    background-color: #172B53;
    position: relative;
}
.link-site {
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.outras-info {
    text-align: center;
    font-family: 'Maven Pro', sans-serif, 'Bold 400';
    font-size: 1.3em;
    color: #4E5E70;
}

img.logo-com-tel-dc {
    margin: 23px 0 20px 0 ;
    width: 60%;
}

.sidebar-content {
    margin: 80px 0 0 0;
}

.texto-comissao{
    font-size: 18px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    margin: 20px 0 60px 0;
    line-height: 1.2;
    text-align: justify;
}

.img-comissoes{
    margin-top: 30px;
}


/*Botão Agenda*/

.buton-tel-uteis {
    height: 59px;
    width: 59px;
    position: absolute;
    top: 51px;
    right: 10%;
    overflow: hidden;
    display: block;
    z-index: 100;

/ /*Transition*/
/ -webkit-transition: All 0.5 s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;

/ /*Rounded Corners*/
/ -webkit-border-radius: 30 px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.buton-tel-uteis:hover {
    width: 300px;
    /*height: 300px;*/
}

.buton-fundo-tel-uteis{
    height: 59px;
    width: 197px;
    position: absolute;
    right: 0;
    top: 0;
}
/* END Botão Agenda*/
/*AGENDA*/

.agenda-tel-uteis {
    width: 395px;
    height: 620px;
    background-color: #172B53;
    position: absolute;
    top: 115px;
    right: 10%;
    border: solid 2px;
    border-color: #06193A;
    border-radius: 15px;
    display: none;
    -webkit-box-shadow: 3px 4px 4px 0 rgba(128, 128, 128, 0.46);
    -moz-box-shadow: 3px 4px 4px 0 rgba(128, 128, 128, 0.46);
    box-shadow: 3px 4px 4px 0 rgba(128, 128, 128, 0.46);
    z-index: 120;
}

.indice {
    width: 22px;
    height: 598px;
    position: relative;
    left: 11px;
    top: 11px;
    border-radius: 8px;
    display: inline-table;
}

.letra-indice {
    width: 100%;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    left: 0;
    background-color: #0C224B;
    font-family: 'Oswald', sans-serif;
    color: #78849B;
    display: inline-table;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;

}

.letra-indice:hover {
    color: #FFFFFF;
    background-color: #06193A;
}

.indice-top {
    border-radius: 6px 6px 0 0;
}

.indice-bottom {
    border-radius: 0 0 6px 6px;
}

.lista-de-telefones {
    width: 335px;
    height: 598px;
    position: absolute;
    top: 11px;
    left: 47px;
    z-index: 60;
    overflow-y: auto;
}

.lista-de-telefones::-webkit-scrollbar {
    width: 15px;
}

.lista-de-telefones::-webkit-scrollbar-button {

}

.lista-de-telefones::-webkit-scrollbar-track {
    background-color: #03173A;
    border-radius: 6px;
}

.lista-de-telefones::-webkit-scrollbar-thumb {
    background-color: #384265;
    border-radius: 6px;
}

.contato {
    width: 305px;
    height: auto;
    display: inline-table;
}

.label-contato {
    font-family: 'Maven Pro', sans-serif, 'Bold 700';
    font-size: 20px;
    color: #8FA143;
    /*margin-top: 1em;*/
    margin-bottom: 0;
}

.info-contato {
    font-family: 'Maven Pro', sans-serif, 'Medium 500';
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.tel-contato {
    font-family: 'Maven Pro', sans-serif, 'Bold 700';
    font-size: 16px;
    color: #172B53;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: #FFFFFF;
    float: left;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 0.35em;
    border-radius: 0.4em;
    display: inline-flex;
}

.linha-contato {
    width: 297px;
    height: 1px;
    background-color: #8FA143;
    display: table;
}

.sombra-lista-tel {
    width: 45px;
    height: auto;
    position: absolute;
    top: 0;
    left: 315px;
}
/*END AGENDA*/


.visible-xs .telefone {
    font-size: 30px;
    font-weight: 600;
    background: #172B53;
    color: #fff;
    margin-bottom: 20px;
}
.icones-apps-mobile {
    margin-top: 30px;
}

.icones-apps-mobile img {
    max-height: 75px;
}
.footer-mobile {
    background: #182b53;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    border-top: 3px solid #8ea243 ;
}


.footer-mobile .tit-comissoes {
    background-color: #8FA143;
    border-radius: 15px 15px 0 0;
    text-transform: uppercase !important;
    padding: 5px 0 5px 0;
    font-size: 20px;
    margin: -40px 30px 12px 30px;
}

.footer-mobile p{
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: solid #3d574c 1px;
    padding: 0 0 8px 0;
}

.footer-mobile a {
    color: #ffffff;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .cabecalho .col-xs-12 {

    }
    .col-xs-12 .alerj-logo {
        height: 80px !important;
    }

    .nome-comissao {
        margin-top: 15px;
        font-size: 16px;
    }

    .texto-comissao {
        -webkit-column-count: 1;
        text-align: left;
        font-size: 16px;
    }

    .alolerj-logo {
        height: 57px !important;
        margin-top: 10px !important;
    }


}

/* Slider */
/**********/

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 267px;
    /*background: #ccc;*/
    text-align: center;
    line-height: 267px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}




/*
.container .col-xs-12 {
    max-height: 80px;
}
.container .col-xs-12 .alerj-logo {
    height: 80px !important;
}

.nome-comissao {
    margin-top: 15px;
    font-size: 16px;

}

.col-xs-12 .texto-comissao {
    -webkit-column-count: 1;
    text-align: left;
    font-size: 16px;
}

.col-xs-12 .col-xs-8 .alolerj-logo {
    height: 57px !important;
    margin-top: 10px !important;
}
*/



/*.container-fluid.mobile-content {*/
    /*padding: 0;*/
/*}*/

.mobile-chat {
    border-top: 1px solid #192a55 ;
    border-bottom: 1px solid #b6bcc8 ;
    background-image: url("/templates/mv/img/logo-alerj_pattern.jpg");
    padding-top: 50px;
    padding-bottom: 40px;
}

.logo-chat-mobile{
    background-image: url("/templates/mv/svg/balao-chat.svg") ;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 245px;
    top:17px;
}

.form-control{
    border: 2px solid #192a55;
}
.mobile-telegram{
    margin-top: -70px;
}

.telegram-telefone {
    margin-top: 15px;
}