body {
    font-family: 'Maven Pro', sans-serif, 'Medium 500';
    line-height: 1.5;
    color: #172B53;
    background: #fffeff !important;
}

p {
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

.margin {
    margin-bottom: 45px;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #172B53; /* AZUL RODAPE*/
    color: #fff;
}

.cabecalho-home {
    background: #172B53 !important;
    border-bottom: #c7ccd6 4px solid;
}
.alolerj-logo-home {
    height: 60px !important;
    margin-top: -20px !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
/*    margin-left: 0;
    margin-right: 0;
    width: 100%;*/
}

.linha-info {
    height: 2px;
    background-color: #172B53;
    position: relative;
}
/*Dados Comissao*/


.texto-comissao li {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.titulo-comissao {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 1.3em;
    text-transform: uppercase;
}

.texto-comissao {
    margin: 30px 0 40px 0;
    line-height: 1.2;
    text-align: justify;
    border-bottom: solid 1px #d5d8e0;
    padding-bottom: 20px;
}

.tel-comissao {
    font-family: 'Oswald', sans-serif;
    margin-top: 18px;
    margin-bottom: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2.7em;
    color: #ffffff;
    background-color: #172B53;
}
.outras-info {
    text-align: center;
    font-family: 'Maven Pro', sans-serif, 'Bold 400';
    font-size: 1.3em;
    color: #6a6a6a;
    border-bottom: 1px solid #e3e5ea !important;
    padding: 20px 0 20px 0;
}

.texto-comissao {
    margin: 30px 0 40px 0;
    line-height: 1.2;
    text-align: justify;
    border-bottom: solid 1px #d5d8e0;
    padding-bottom: 20px;
}

.ficha-comissao {
    color: #3b6884;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.ficha-comissao h3 {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 20px;
}

.comissao-dados {
    background: #e9eaee;
    margin-top: 30px;
    padding: 15px 0;
}
.comissao-telefones {
    font-weight: 600;
}
/*FIM - Dados Comissao*/


.footer-mobile .tit-comissoes {
    background-color: #8FA143;
    border-radius: 15px 15px 0 0;
    text-transform: uppercase !important;
    padding: 5px 0 5px 0;
    font-size: 16px;
    margin: -35px 25% 12px 25%;
}
.footer-mobile {
    background: #182b53;
    font-family: 'Oswald', sans-serif;
    margin: 11px -15px 0 -15px;
    border-top: 1px solid #8ea243;
}
.footer-mobile-box {
    border-top: solid 2px #b6bcc7;
    background: #172b53;
    margin-top: 30px;
}
.footer-mobile a {
    color: #ffffff;
    font-size: 0.8em;
    letter-spacing: 0.5px;
}

.comissoes-footer a:hover{
    color: #56C5CE !important;
    text-decoration: none;
}

.footer-mobile a:hover {
    color: #56C5CE !important;
    text-decoration: none;
}


.footer-mobile p {
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: solid #3d574c 1px;
    padding: 0px 0 10px 0;
}



.form-control{
    border: 1px solid #172b53;
}

form.form-vertical {
    margin-top: 15px;
}

.btn.btn-lg.btn-primary:hover{
    background: #00a400;
}

/*.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}*/
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #4EC636;
    border-color: #122b40;
}


.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
    background: #00a400;
}

.chat-horario {
    color: #696969;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.chat-offline {
    text-align: center;
    /*margin-top: 30px;*/
    color: #7c0005;
    font-size: 16px;
}

.chat-offline-mensagem {
    color: #172B53;
    margin-top: 20px;
}

.enviar-mensagem {
    margin-top: 20px;
}

.video-aloalerj {
    margin-right: -15px !important;
    padding-right: 0 !important;
}

.boxshadow.download-app {
    margin: 15px 0 0 0;
    padding: 20px 0 0 0;
}

img.app-mockup {
    width: 200px;
    margin: 0px 0 0 -31px;
}
.app-buttons {
    margin: 23px 0 0 0;
}

.app-texto {
    margin-top: 10px;
    margin-bottom: 30px;
}

.blocos {
    margin-bottom: 40px;
}



.comissoes p {
    font-size: 20px;
}

.tel-comissao-link:link, .tel-comissao-link:visited, .tel-comissao-link:hover, .tel-comissao-link:active {
    color: #ffffff;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


    body {
        margin-top: 50px;
    }

    .alolerj-logo-home {
         height: 40px !important;
         margin-top: -9px !important;
         -webkit-transition: all .3s;
         -moz-transition: all .3s;
         transition: all .3s;
     }

    .navbar-shrink .alolerj-logo-home {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .cabecalho {
        background: #172b53;
        height: 67px;
        margin-bottom: 40px;
    }
    .cabecalho-home {
        background: #172B53 !important;
        border-bottom: #c7ccd6 4px solid;
    }

   /* .alolerj-logo-home {
        height: 67px !important;
        margin-top: 10px !important;
        margin-bottom: 15px;
        !*margin-left: -6px !important;*!
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }*/
    .alerj-logo{
        height: 93px;
    }
    .nome-comissao {
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
    }


    /*Dados Comissao*/

    .titulo-comissao {
        font-family: 'Oswald', sans-serif;
        font-size: 1.7em;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        line-height: 1.3em;
        text-transform: uppercase;
    }

    .texto-comissao{
        margin: 30px 0 40px 0;
        line-height: 1.2;
        text-align: justify;
        border-bottom: solid 1px #d5d8e0;
        padding-bottom: 20px;
    }


    .tel-comissao {
        font-family: 'Oswald', sans-serif;
        margin-top: 18px;
        margin-bottom: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 2.7em;
        text-align: center;
        color: #ffffff;
        background-color: #172B53;
    }
    .tel-comissao-link:link, .tel-comissao-link:visited, .tel-comissao-link:hover, .tel-comissao-link:active {
        color: #ffffff;
    }

    .ficha-comissao {
        color: #3b6884;
        font-size: 1.5em;
        margin-bottom: 30px;
    }

    .ficha-comissao h3 {
        font-family: Oswald;
        text-transform: uppercase;
    }

    .comissao-dados {
        background: #e9eaee;
        margin-top: 30px;
        padding: 15px 0;
    }
    .comissao-telefones {
        font-weight: 600;
    }
    /*FIM - Dados Comissao*/


    .linha-info {
        height: 2px;
        background-color: #172B53;
        position: relative;
    }
    .outras-info {
        text-align: center;
        font-family: 'Maven Pro', sans-serif, 'Bold 400';
        font-size: 1.3em;
        color: #6a6a6a;
        border-bottom: 1px solid #e3e5ea !important;
        padding: 20px 0 20px 0;
    }
    .mobile-content {
        margin-bottom: 50px;
    }
    .col-xs-3.col-sm-2.button-send {
        margin-left: -15px;
    }
    .mobile-telegram {
        margin-top: -20px;
        border-top: 0px;
        border-bottom: 0px;
        text-align: center;
        margin-bottom: 50px;
    }
    .mobile-chat {
        border-top: 1px solid #192a55 ;
        border-bottom: 1px solid #b6bcc8 ;
        background-image: url("/templates/mv/img/logo-alerj_pattern.jpg");
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .telefone {
        font-size: 25px;
    }

    .telefone-link:link, .telefone-link:visited, .telefone-link:hover, .telefone-link:active {
        color: #337ab7;
    }

    .icones-apps {
        margin: 0 30px 0 30px !important;
    }
    #slider {
        margin: -2px auto 0 auto;
    }
    .footer-mobile .tit-comissoes {
        background-color: #8FA143;
        border-radius: 15px 15px 0 0;
        text-transform: uppercase !important;
        padding: 5px 0 5px 0;
        font-size: 20px;
        margin: -40px 25% 12px 25% !important;
    }
    .footer-mobile {
        background: #182b53;
        font-family: 'Oswald', sans-serif;
        margin: 11px -15px 0 -15px;
        border-top: 1px solid #8ea243;
    }
    .footer-mobile-box{
        border-top: solid 2px #b6bcc7;
        background: #172b53 ;
        margin-top: 30px;
    }
    .footer-mobile p{
        color: #ffffff;
        text-transform: uppercase;
        border-bottom: solid #3d574c 1px;
        padding: 3px 0 12px 0;
    }
    .footer-mobile a {
        color: #ffffff;
        font-size: 1em;
    }

    /* Slider */
    .carousel {
        height: 267px;
    }
    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 267px;
    }
    .carousel-inner > .item > img {
        height: 267px;
    }
    .carousel-control.right{
        display: none;
    }
    .carousel-control.left{
        display: none;
    }





    .chat-horario {
        color: #ffffff;
        background: #5d6b87;
        border-radius: 7px ;
        padding: 6px;
        text-align: center;
        margin-top: 0px;
        font-size: 16px;
    }
    .logo-chat-mobile{
        background-image: url("/templates/mv/svg/balao-chat.svg") ;
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        position: absolute;
        top:-8px;
    }


    /* BOTÃO DO CHAT */
    .iniciar-conversa {
        border-radius: 5px;
        border-color: #172B53;
        border: 1px solid;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        color: #172B53;
        background-color: #4EC636;
        text-transform: uppercase;
    }

/*    button.btn.btn-lg.btn-primary {
        !*padding: 10px 46px;*!
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
    }

    button.btn.btn-lg.btn-primary:hover{
        background: #00a400;
    }*/
    /* FIM - BOTÃO DO CHAT */


    /* Chat IPHONE */

    .cabecalho.chat {
        height: 75px;
    }
    .cabecalho.chat {
        padding-top: 10px;
        border-top: 4px solid;
        background: #C7CCD6 !important;
    }

    .chat-miolo {
        margin-top: 15px;
    }

    .chat img.logo-chat {
        height: 36px;
        margin-left: -26px;
        margin-top: 5px;
    }
    .chat-mobile .atendente-home {
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
    }
    .chat .botao-voltar{
        margin-top: 10px;
    }

    .footer-chat {
        height: 60px;
    }

    .footer-chat .col-xs-9 input#btn-input {
        font-size: 16px;
        padding: 5px;
        font-weight: 400;
    }
    .col-xs-3.col-sm-2.button-send {
        margin-left: -15px;
    }

}





/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {



    body {
        margin-top: 50px;
    }

    .visible-xs .telefone {
        font-size: 30px;
        font-weight: 600;
        background: #fff;
        color: #172B53;
        margin-bottom: 20px;
    }

    .cabecalho-home {
        background: #172B53 !important;
        border-bottom: #c7ccd6 4px solid;
    }

/*    .alolerj-logo-home {
        height: 67px !important;
        margin-top: 10px !important;
        margin-bottom: 15px;
        !*margin-left: -6px !important;*!
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }*/

    /*.footer-chat .col-xs-9 input#btn-input {*/
        /*font-size: 16px;*/
        /*padding: 5px;*/
        /*font-weight: 400;*/
    /*}*/
    /*.footer-chat {*/
        /*bottom: -24px;*/
    /*}*/

    .cabecalho.chat {
        padding-top: 10px;
        border-top: 4px solid;
    }
    .chat .botao-voltar {
        max-width: 25px !important;
        /* background: #f0f; */
        margin-top: 5px !important;
    }
    .chat-mobile .atendente-home {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.1;
        margin-top: 11px;
        letter-spacing: 0.2px;
    }



    .mobile-telegram {
        margin-top: -30px;
        border-top: 0px;
        border-bottom: 0px;
    }
    .mobile-chat {
        border-top: 1px solid #192a55;
        border-bottom: 3px solid #b6bcc7;
    }
    .icones-apps {
        margin: 0 90px 0 90px !important;
        background: #f0f;
    }




    #slider {
        margin: -2px auto 0 auto;
    }

    .footer-mobile .tit-comissoes {
        margin: -40px 30% 12px 30% !important;

    .footer-mobile {
        background: #182b53;
        font-family: 'Oswald', sans-serif;
        margin: 11px -15px 0 -15px;
        border-top: 1px solid #8ea243;
    }

    .footer-mobile-box{
        border-top: solid 2px #b6bcc7;
        background: #172b53 ;
        margin-top: 30px;
    }




}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


    body {
        margin-top: 100px;
    }

    .alolerj-logo-home {
        height: 70px !important;
        margin-top: -25px !important;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .alerj-logo {
        height: 145px;
    }

/*    .alolerj-logo-home {
        height: 77px !important;
        !*margin-top: 10px !important;*!
        !*margin-bottom: 15px;*!
        !*margin-left: 40px !important;*!
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }*/

    /* BOTÃO DO CHAT */
    .iniciar-conversa {
        border-radius: 5px;
        border-color: #172B53;
        border: 1px solid;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        color: #172B53;
        background-color: #4EC636;
        text-transform: uppercase;
    }

 /*   button.btn.btn-lg.btn-primary {
        !*padding: 10px 46px;*!
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
    }

    button.btn.btn-lg.btn-primary:hover{
        background: #00a400;
    }*/
    /* FIM - BOTÃO DO CHAT */



    .nome-comissao{
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 25px;
        line-height: 1.4;
        letter-spacing: 1.5px;

    }
    .logo-com-tel-dc {
        margin-top: 15px;
        height: 80px;
    }

    .carousel {
        height: 641px;
    }
    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 641px;
    }
    .carousel-inner > .item > img {
        height: 641px;
    }
    .carousel-control.right{
        display: none;
    }
    .carousel-control.left{
        display: none;
    }

    .cabecalho{
        height: 120px;
        margin-bottom: 45px;
    }

    .cabecalho-home {
        background: #172B53 !important;
        border-bottom: #c7ccd6 4px solid;
    }


    .visible-xs .telefone {
        font-size: 30px;
        font-weight: 600;
        background: #fff;
        color: #172B53;
        margin-bottom: 20px;
    }

    .buton-tel-uteis{
        top: 20px;
    }

    .icones-apps {
        margin: 10px 28px 0 28px !important;
        background: #f0f;
    }
    .icones-apps img.img-responsive {
        margin: 0 15px 0 15px !important;
    }
    p.telegram-text {
        margin-top: 8px;
    }



    .mobile-telegram {
        margin-top: 0px;
        border-top: solid 2px #172b53 ;
        border-right: solid 1px #172b53 ;
        border-bottom: solid 2px #b6bcc7;
        padding: 30px 10px 40px 10px;
    }
    .mobile-chat {
        float: right;
        border-top: solid 2px #172b53 ;
        border-bottom: solid 2px #b6bcc7;
        padding-bottom: 36px;
    }

    .mobile-content {
        margin-bottom: 50px;
    }
    .footer-mobile .tit-comissoes {
        margin: -40px 38% 12px 38% !important;
    }
    .footer-mobile {
        background: #182b53;
        font-family: 'Oswald', sans-serif;
        margin: 11px -15px 0 -15px;
        border-top: 1px solid #8ea243;
    }
    .footer-mobile-box{
        border-top: solid 2px #b6bcc7;
        background: #172b53 ;
        border-bottom: 5px solid #8fa143;
        margin-top: 30px;
    }
    .footer-logo-alerj {
        right: 40px;
        position: absolute;
        bottom: -6px;
    }
    .footer-mobile p {
        color: #dadde3;
        border-bottom: none;
        padding: 0 0 2px 0;
        text-align: left;
        margin-left: 30px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .nomes-comissoes{
        margin-top: 30px;
        margin-bottom: 35px;
    }

    /* Footer /



    /* Chat */
    .cabecalho.chat{
        height: 90px;
    }
    .chat img.logo-chat {
        height: 66px;
        margin-left: -13px;
        margin-top: 0px;
    }

    .chat-miolo {
        margin-top: 50px;
    }

    .footer-chat {
        height: 75px;
        padding-top: 15px;
    }

/*    .footer-chat {
        padding-top: 10px;
    }*/

    .footer-chat .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    .footer-chat .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        width: 100% !important;
    }
    .footer-chat .col-xs-9 input#btn-input {
        font-size: 20px;
        padding: 10px;
        font-weight: 600;
        height: 45px;
    }
    .botao-voltar img.icone-voltar {
        height: 50px;
    }
    .chat-mobile .atendente-home {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.2;
    }
    .chat-mobile .tempo-de-atendimento-home {
        font-size: 20px;
    }

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


    img.logo-com-tel-dc.visible-lg {
        margin-left: 47px;
    }

    img.chat.alolerj-logo.img-responsive {
        margin: 15px 0 0 0;
    }

    img.alolerj-logo.img-responsive {
        max-width: 210px;
        margin-top: 25px;
    }

    form.form-vertical {
        margin-top: 30px;
    }

    .telegram-text {
        border-top: 1px solid #dbdbdb;
        padding-top: 15px;
    }


    /* Custom, iPhone Retina */
    .carousel {
        height: 707px;
    }
    /* Declare heights because of positioning of img element */
    .carousel .item {
        height: 707px;
    }
    .carousel-inner > .item > img {
        height: 707px;
    }

    .cabecalho-home {
        background: #172B53 !important;
        border-bottom: #c7ccd6 4px solid;
    }

    .cabecalho {
        border-top: 10px solid #172B53;
        border-radius: 0;
        margin-bottom: 0;
        /*font-size: 12px;*/
        /*letter-spacing: 5px;*/
        background: #C7CCD6 !important;
        height: 171px;
    }

    .cabecalho:before {
        background: none;
        border-top: 4px solid #8fa143;
    }

    .barra-dourada-top {
        width: 100%;
        height: 3px;
        background-color: #8FA143;
    }


    .mobile-content {
        margin-right: -15px;
    }
/*
    .nome-comissao {
        color: #172b53;
        font-size: 36px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 45px;
        line-height: 1.2;
        letter-spacing: 1px;

    }*/



    h1.form-intro {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .botao-sair {
        background-color: #D5D9E0;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-top: 60px;
    }
    .botao-sair:hover {
        background-color: #172B53;
    }



    .sidebar-right-top {
        background-color: #E7E8EC;
    }

    .sidebar-right {
        /*background-color: #E7E8EC;*/
        /*height: 100px;
        padding-top: 0 !important;
        margin-top: 0 !important;
        text-align: center !important;
        padding-bottom: 26px;
        margin-right: 0px;
        min-height: calc(100vh - 172px);*/

    }

    .navbar-content-right {
        /*font-family: 'Maven Pro', sans-serif, 'Medium 500';*/
        background-color: #E7E8EC;
        height: 100vh !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
        color: #172B53;
    }

    .navbar-nav li a:hover {
        color: #1abc9c !important;
    }

    .alerj-logo {
        height: 100px !important;
        /*margin-bottom: 10px;*/
        border:none;
        margin-top: -41px;
        margin-left: 0px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .no-svg .alerj-logo {
        background-image: url(images/logo-alerj.svg);
    }

    .balao-chat {
        height: 120px;
        /*margin-top: 20px;*/
    }

    img.balao-chat.offline {
        opacity: 0.4;
    }



    .chat-horario{
        margin-top: 20px;
    }

    .no-svg .balao-chat {
        background-image: url(images/balao-chat.svg);
    }

    .bg_video {
        /*margin-bottom: 0 !important;*/
        /*padding-bottom: 0 !important;*/
    }

    #accordion {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
    }

    .panel-default > .panel-heading {
        background: #172b53;
    }

    .panel-heading {
        padding: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .panel-group .panel {
        border-radius: 0;
        margin-bottom: -55px;
        background: #172b53;
        border-bottom: solid 5px #8FA143;
    }

    .panel-title a {
        color: #172B5;
        text-align: center;
        width: 100%;
        display: block;
        padding: 10px 15px;
        font-size: 18px;
        font-family: 'Oswald', sans-serif;
        outline: none;
        margin-top: -10px;
    }

    .panel-title a:hover, .panel-title a:focus, .panel-title a:active {
        text-decoration: none;
        outline: none;
    }

    .panel-title span {
        color: #172B5;
        text-align: center;
        width: 100%;
        display: block;
        padding: 10px 18px 4px 18px;
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        outline: none;
        margin-top: -31px;
    }

    .panel-title span:hover, .panel-title span:focus, .panel-title span:active {
        text-decoration: none;
        outline: none;
    }



    /*Dados Comissao*/
    .ficha-comissao {
        color: #3b6884;
        font-size: 1.5em;
        margin-bottom: 80px;
    }

    .ficha-comissao h3 {
        font-family: Oswald;
        text-transform: uppercase;
    }

    .comissao-dados {
        background: #e9eaee;
        margin-top: 30px;
        padding: 15px 0;
    }
    .comissao-telefones {
        font-weight: 600;
    }
    /*FIM - Dados Comissao*/


    .corpo-comissoes {
        /*width: 100px;
        height: 26px;*/
        background-color: #8FA143;
        border-radius: 10px 10px 0 0;
        text-transform: uppercase !important;
    }

    .panel-body {
        background: #172b53;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        border-bottom: 5px solid #8FA143;
        border-top: 1px solid #8FA143 !important;
        margin-top: -10px;
    }

    .iniciar-conversa {
        border-radius: 5px;
        border-color: #172B53;
        border: 1px solid;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        color: #172B53;
        background-color: #4EC636;
        text-transform: uppercase;
    }

    .icones-apps {
        /*margin: 0 20px 0 20px !important;*/
        margin: 0 !important;
    }

    .form-horizontal {
        margin: 60px 20px 0 20px;
    }

    .texto-chat {
        text-align: center;
        margin: 30px 0 15px 0;
        line-height: 140%;
    }

    .logo-alerj-rodape {
        margin: 301px 20px -25px 20px;
    }

    .mailsent {
        margin-top: 150px;
    }

    .mensagem-enviada h2 {
        font-family: Oswald;
    }
    .mensagem-agradecimento {
        font-size: 1.5em;
    }



    /* Comissoes Footer*/
    .comissoes-footer {
        /*font-family: 'Oswald', sans-serif;*/
        /*font-weight: 400;*/
        /*color: #fff;*/
        /*font-size: 20px;*/
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
        letter-spacing: 1px;
    }

    .comissoes-footer a {
        color: #fff;
        text-decoration: none;
    }

    .comissoes-footer p {
        font-size: 14px;
        padding: 2px 0;
    }
    /* Fim - Comissoes Footer*/

    .issaoe-comissao{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 45px;
    }
    .titulo-comissao {
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 15px;
        line-height: 1.3em;
        text-transform: uppercase;
    }
    .tel-comissao {
        font-family: 'Oswald', sans-serif;
        margin-top: 18px;
        margin-bottom: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 2.7em;
        /*text-align: center;*/
        color: #ffffff;
        background-color: #172B53;
    }
    .tel-comissao-link:link, .tel-comissao-link:visited, .tel-comissao-link:hover, .tel-comissao-link:active {
        color: #ffffff;
    }
    .linha-info {
        height: 2px;
        background-color: #172B53;
        position: relative;
    }
    .link-site {
        font-size: 1.1em;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .outras-info {
        text-align: center;
        font-family: 'Maven Pro', sans-serif, 'Bold 400';
        font-size: 1.3em;
        color: #4E5E70;
    }

    img.logo-com-tel-dc {
        margin: 23px 0 20px 0 ;
        width: 60%;
    }

    .sidebar-content {
        margin: 50px 0 0 0;
    }

    .texto-comissao{
        margin: 40px 0 40px 0;
        line-height: 1.2;
        text-align: justify;
        border-bottom: solid 1px #d5d8e0;
        padding-bottom: 20px;
    }

    .texto-comissao p{
        font-size: 1.4em;
    }

    .img-comissoes{
        margin-top: 15px;
    }

/*
    .footer-logo-alerj {
        right: 40px;
        position: absolute;
        bottom: -6px;
    }*/


    /*Botão Agenda*/

    .buton-tel-uteis {
        height: 59px;
        width: 59px;
        position: absolute;
        top: 51px;
        right: 10%;
        overflow: hidden;
        display: block;
        z-index: 100;

    / /*Transition*/
    / -webkit-transition: All 0.5 s ease;
        -moz-transition: All 0.5s ease;
        -o-transition: All 0.5s ease;
        -ms-transition: All 0.5s ease;
        transition: All 0.5s ease;

    / /*Rounded Corners*/
    / -webkit-border-radius: 30 px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }

    .buton-tel-uteis:hover {
        width: 300px;
        /*height: 300px;*/
    }

    .buton-fundo-tel-uteis{
        height: 59px;
        width: 197px;
        position: absolute;
        right: 0;
        top: 0;
    }
    /* END Botão Agenda*/
    /*AGENDA*/

    .agenda-tel-uteis {
        width: 395px;
        height: 620px;
        background-color: #172B53;
        position: absolute;
        top: 115px;
        right: 10%;
        border: solid 2px;
        border-color: #06193A;
        border-radius: 15px;
        display: none;
        -webkit-box-shadow: 3px 4px 4px 0 rgba(128, 128, 128, 0.46);
        -moz-box-shadow: 3px 4px 4px 0 rgba(128, 128, 128, 0.46);
        box-shadow: 3px 4px 4px 0 rgba(128, 128, 128, 0.46);
        z-index: 120;
    }

    .indice {
        width: 22px;
        height: 598px;
        position: relative;
        left: 11px;
        top: 11px;
        border-radius: 8px;
        display: inline-table;
    }

    .letra-indice {
        width: 100%;
        position: relative;
        padding-top: 4px;
        padding-bottom: 4px;
        left: 0;
        background-color: #0C224B;
        font-family: 'Oswald', sans-serif;
        color: #78849B;
        display: inline-table;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;

    }

    .letra-indice:hover {
        color: #FFFFFF;
        background-color: #06193A;
    }

    .indice-top {
        border-radius: 6px 6px 0 0;
    }

    .indice-bottom {
        border-radius: 0 0 6px 6px;
    }

    .lista-de-telefones {
        width: 335px;
        height: 598px;
        position: absolute;
        top: 11px;
        left: 47px;
        z-index: 60;
        overflow-y: auto;
    }

    .lista-de-telefones::-webkit-scrollbar {
        width: 15px;
    }

    .lista-de-telefones::-webkit-scrollbar-button {

    }

    .lista-de-telefones::-webkit-scrollbar-track {
        background-color: #03173A;
        border-radius: 6px;
    }

    .lista-de-telefones::-webkit-scrollbar-thumb {
        background-color: #384265;
        border-radius: 6px;
    }

    .contato {
        width: 305px;
        height: auto;
        display: inline-table;
    }

    .label-contato {
        font-family: 'Maven Pro', sans-serif, 'Bold 700';
        font-size: 20px;
        color: #8FA143;
        /*margin-top: 1em;*/
        margin-bottom: 0;
    }

    .info-contato {
        font-family: 'Maven Pro', sans-serif, 'Medium 500';
        font-size: 12px;
        color: #FFFFFF;
        margin-top: 0.2em;
        margin-bottom: 0.5em;
    }

    .tel-contato {
        font-family: 'Maven Pro', sans-serif, 'Bold 700';
        font-size: 16px;
        color: #172B53;
        padding-left: 0.3em;
        padding-right: 0.3em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        background-color: #FFFFFF;
        float: left;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        margin-right: 0.35em;
        border-radius: 0.4em;
        display: inline-flex;
    }

    .linha-contato {
        width: 297px;
        height: 1px;
        background-color: #8FA143;
        display: table;
    }

    .sombra-lista-tel {
        width: 45px;
        height: auto;
        position: absolute;
        top: 0;
        left: 315px;
    }
    /*END AGENDA*/



    .icones-apps {
        margin-bottom: 30px;
    }

    .icones-apps img.img-responsive {
        margin: 0 40px 0 40px !important;
    }

    /*
    .icones-apps {
        margin: 0px 100px 0px 100px !important;
        margin-bottom: 30px;
        padding-bottom: 100px;
    }
    */


    /*Chat DESKTOP*/

    .cabecalho.chat{
        height: 171px;
    }

    .cabecalho.chat .container-fluid {
        margin-top: -10px;
    }


    .chat-miolo {
        margin-top: 120px;
    }


    .footer-chat {
        /*
        position: absolute;
        bottom: 0;
        width: 100%;
        */
        height: 100px;
        background-color: #EFEFF1;
        border-top: 5px solid #B6BCC7;
        padding-top: 0;
    }

    .form-inline {
        margin-top: 25px;
    }
    .form-group {
        width: 100% !important;
    }
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
    input#btn-input {
        font-size: 20px;
        padding: 22px;
        font-weight: 600;
    }
    .btn.btn-lg.btn-primary {
        /*padding: 10px 46px;*/
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
    }



    .chat img.balao-chat {
        margin-top: 10px;
        height: 55px;
        margin-left: 206px;
    }

    .chat .atendente-home {
        font-family: 'Oswald', sans-serif;
        color: #172B53;
        font-size: 22px;
    }

/*
    .chat .container-fluid {
        padding: 0;
    }*/

    img.icone-voltar {
        height: 30px;
    }

    .chat img.logo-chat {
        height: 35px;
        margin-left: -26px;
    }

    .chat .info-chat-home {
        text-align: center;
        line-height: 1.3;
        padding-bottom: 10px;
    }

    .chat-content {
        width: 100%;
        font-size: 250%;
        background-color: #FFFFFF;
    }

    .container-chat {
        width: 100%;
        height: auto;
        position: absolute;
        top: 180px;
        left: 0%;
        overflow-y: scroll;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: 126px;
        padding-top: 180px;

    }

    .conversa {
        font-family: 'Maven Pro', sans-serif, 'Normal 400';
        font-size: 1.4em;
        color: #172B53;
        margin: 0;
        padding: 0;
    }

    .time {
        font-size: 0.7em;
        color: #8FA143;

    }

    .msn {
        padding: 35px;
        margin-bottom: 10px;
        border-color: #172B53;
        border: solid 0.035em;
        float: right;
        border-radius: 1em;
        margin: 15px;
        text-align: right;

    }

    .left {
        background-color: #F2F2F2;
        float: left;
        text-align: left;
    }

    .right {
        background-color: #E0E5CB;
        float: right;
        text-align: right;
    }

    .msn p {
        margin-top: 2px;
        margin-bottom: 10px;
    }

    /*.row {*/
        /*width: 100%;*/
        /*background-color: #2b542c;*/
    /*}*/
}

/* Video */
/*.video-container {*/
    /*position: relative;*/
    /*!*padding-bottom: 35%;*!*/
    /*padding-bottom: 46%;*/
    /*padding-top: 30px; height: 0; overflow: hidden;*/
    /*margin: auto ;*/
    /*!*width: 60%;*!*/
    /*width: 84%;*/
    /*margin-top: 30px;*/
/*}*/

/*.video-container iframe,*/
/*.video-container object,*/
/*.video-container embed {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*!*width: 70%;*!*/
    /*!*height: 70%;*!*/
/*}*/

/* Radio */
.radio-content {
    /*background-color: #000000;*/
    /*background-image: url("/templates/mv/img/radio-alerj-phone.png");*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    background-color: #02204d;
}

.radio-content img {
    /*margin-top: 20px;*/
    width: 100%;
}

.radio-content .ao-vivo {
    margin-top: 20px;
}

.radio-content audio {
    background-color: #172b53;
    margin-top: 15px;
    width: 90%;
}

.video-wrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.spacer {
    margin-top: 15px;
}

.texto-comissao-ma {
    margin-top: 10px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    body {
        margin-top: 90px;
    }

    .nome-comissao {
        color: #172b53;
        font-size: 36px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 40px;
        line-height: 1.2;
        letter-spacing: 1px;
        margin-left: 20px;
        /*text-align: center !important;*/
    }

    .comissoes-telefone {
        text-align: left !important;
    }

    .comissoes-telefone .boxshadow {
        background: none ;
        -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.22);
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.22);
        border-radius: 0px;
        display: inline-block;
        margin: 0x 0 0x 0;
        padding: 0px
    }

    .comissoes-telefone .sidebar-content{
        margin:0px 0px 0px 0px;
    }

    .comissoes-telefone .tel-comissao {
        margin: -20px 0px 0px 0px ;
        padding: 0px;
        font-size: 1.7em;
        color: #172B53;
        background-color: #fff !important;
        text-align: left;
    }

    .comissoes-telefone .tel-comissao a {
        color: #172B53;
        font-size: 32px;
    }


    .comissoes-telefone .linha-info{
        display: none !important;
    }
    .comissoes-telefone .outras-info{
        display: none !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    body {
        margin-top: 0px;
    }

    .comissoes {
        column-count: 2;
        margin: 20px 0px 40px 0px;
    }



    .boxshadow {
        background: #F5F5F5;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
        border-radius: 6px;
        width: 100%;
        display: inline-block;
        margin: 15px 0 10px 0;
        padding: 20px 15px 20px 15px ;
    }


    .cabecalho-home {
        border-top: 10px solid #172B53;
        border-radius: 0;
        margin-bottom: 0;
        background: none !important;
        border-bottom: 0;
        height: 113px;
    }

    .nome-comissao {
        margin-left: 0;
        text-align: left;
    }

    .icones-apps {
        margin: 20px 25px 0px 25px !important;
        background: none !important;
        padding-bottom: 120px;
    }

    .icones-apps img.img-responsive {
        margin: 0 5px 0 5px !important;
    }

    .telegram-text {
        padding: 28px 0 0 0;
        margin-bottom: 25PX;
        font-size: 17px;
        font-weight: 600;
        line-height: 22px;
    }
}

.iniciar-conversa {
    border-radius: 5px;
    border-color: #172B53;
    border: 1px solid;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #172B53;
    background-color: #4EC636;
    text-transform: uppercase;
}


/*
* Row with equal height columns
* --------------------------------------------------
*/
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
