<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width:device-width, device-pixel-ratio: 2">
    <title>Comissão de Defesa do Consumidor</title>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>

<!--    <div class="teste-animation"></div>
 -->


<!--Cabeçalho-->
<div id="cabecalho">

    <div class="buton-tel-uteis">
        <div>
            <img src="svg/fundo-button-tel.svg" class="buton-fundo-tel-uteis">
        </div>
    </div>

    <div class="logo-alerj-top">
        <img src="svg/logo-alerj-monocromatica.svg">
    </div>
    <div class="fundo-form-cabecalho">
        <div class="logo-alo-alerj">
            <img src="svg/logo-alo-alerj.svg">
        </div>
    </div>
    <div class="barra-azul-top"></div>
    <div class="barra-dourada-top"></div>
</div>


<!--Chat-->
<div class="chat">
    <div id="comunicacao">
        <div class="position-input-chat">
            <form method="POST" action="http://aloalerjsite.antoniocarlosribeiro.com/foo/bar" accept-charset="UTF-8">
                <input name="_token" type="hidden" value="LVdL3FFEKynmYdKKKlTdt7Ba0yMZezBrfXw0V3Fq">
                <div>
                    <label for="nome" id="label-nome">Nome</label>
                    <input name="nome" type="text" id="input-nome">
                </div>

                <div>
                    <label for="email" id="label-email">E-mail</label>
                    <input name="email" type="text" id="input-email">
                </div>

                <button type="submit" class="iniciar-conversa">INICIAR CONVERSA</button>
            </form>
        </div>
    </div>
</div>


<!--informaçoes-->
<div class="info">
    <div class="text-info">
        <p id="p1">
            O Alô Alerj é um canal de comunicação entre você e a Assembleia Legislativa do Estado do Rio de Janeiro. Somos
            uma ouvidoria, de caráter conciliatório e informativo, a serviço do cidadão. O nosso objetivo é ajudar você a
            solucionar o seu problema. Aqui você pode registrar reclamações, solicitações e sugestões sobre órgãos públicos
            e/ou privados.
        </p>

        <p id="p2">
            O seu contato é uma</br> ação de cidadania!
        </p>

        <p id="p3">
            Você pode ser um agente transformador, participando do avanço da sua comunidade, seu bairro e sua cidade.
        </p>

        <p id="p4">
            Use outros meios para fazer contato com o Alô Alerj pelo aplicativos abaixo, usando o número <strong class="telefone">21 98890 4742.</strong>
        </p>
    </div>

    <div class="icones-apps">
        <a href="https://www.whatsapp.com/?l=pt_br" class="whatsapp">
            <img src="svg/whatsapp.svg" class="icone-whatsapp">
            <p class="leg-whatsapp">WhatsApp</p>
        </a>

        <a href="https://telegram.org" class="telegram">
            <img src="svg/telegram.svg" class="icone-telegram">
            <p class="leg-telegram">Telegram</p>
        </a>

    </div>



</div>



<!--Rodapé-->


<div id="rodape">
    <div class="botoes-rodape">


        <a href="comissoes/comissao-iphone.html" id="defesa-do-consumidor" class="botao-e">
            <div class="text-e">DISQUE DEFESA DO CONSUMIDOR</div><div class="text-d">0800 023 0007</div>
        </a>

        <a href="comissoes/comissao-iphone.html" id="meio-ambiente" class="botao-e">
            <div class="text-e">DISQUE DENÚNCIA MEIO AMBIENTE</div><div class="text-d">0800 282 7060</div>
        </a>

        <a href="comissoes/comissao-iphone.html" id="disque-preconceitos" class="botao-e">
            <div class="text-e">DISQUE PRECONCEITOS</div><div class="text-d">0800 025 5108</div>
        </a>

        <a href="comissoes/comissao-iphone.html" id="disque-pirataria" class="botao-e">
            <div class="text-e">DISQUE PIRATARIA</div><div class="text-d">0800 282 0230</div>
        </a>

        <a href="comissoes/comissao-iphone.html" id="disque-pessoa-deficiente" class="botao-e">
            <div class="text-e">DISQUE PESSOA PORTADORA DE DEFICIÊNCIA</div><div class="text-d">0800 282 3596</div>
        </a>

        <a href="comissoes/comissao-iphone.html" id="disque-saneamento-ambiental" class="botao-e">
            <div class="text-e">DISQUE SANEAMENTO AMBIENTAL</div><div class="text-d">0800 282 1559</div>
        </a>

        <a href="comissoes/comissao-iphone.html" id="seguranca-publica" class="botao-e">
            <div class="text-e">DISQUE SEGURANÇA PUBLICA</div><div class="text-d">0800 023 9191</div>
        </a>



    </div>

    <!--<div class="barra-cinza"></div>-->
    <img src="svg/logo-alerj-rodape.svg" class="logo-alerj-rodape">

    <div class="linha-dourada"></div>

    <div class="fundo-azul">
        <div class="linha-dourada-fina"></div>
        <div class="corpo-comissoes">
            <p class="text-comissoes">COMISSÕES</p></a>
        </div>
    </div>

</div>





</body>
</html>