<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width:device-width, device-pixel-ratio: 2">
    <title>Alô Alerj</title>
    <link rel="stylesheet" type="text/css" href="../alo-alerj-site.css">
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>

<!--    <div class="teste-animation"></div>
 -->


<!--Cabeçalho-->
<div class="cabecalho">

    <a class="buton-tel-uteis" href="#lista" id="btn-telefones-uteis">
        <div>
            <img src="../svg/fundo-button-tel.svg" class="buton-fundo-tel-uteis">
        </div>
    </a>

    <div class="agenda-tel-uteis" id="agenda-tel-uteis">

        <div class="indice">
            <a class="letra-indice indice-top" href="#letra-a">A</a>

            <a class="letra-indice" href="#letra-b">B</a>
            <a class="letra-indice" href="#letra-c">C</a>
            <a class="letra-indice" href="#letra-d">D</a>
            <a class="letra-indice" href="#">E</a>
            <a class="letra-indice" href="#">F</a>
            <a class="letra-indice" href="#letra-g">G</a>
            <a class="letra-indice" href="#">H</a>
            <a class="letra-indice" href="#">I</a>
            <a class="letra-indice" href="#">J</a>
            <a class="letra-indice" href="#">K</a>
            <a class="letra-indice" href="#letra-l">L</a>
            <a class="letra-indice" href="#letra-m">M</a>
            <a class="letra-indice" href="#">N</a>
            <a class="letra-indice" href="#">O</a>
            <a class="letra-indice" href="#letra-p">P</a>
            <a class="letra-indice" href="#">Q</a>
            <a class="letra-indice" href="#letra-r">R</a>
            <a class="letra-indice" href="#letra-s">S</a>
            <a class="letra-indice" href="#letra-t">T</a>
            <a class="letra-indice" href="#">U</a>
            <a class="letra-indice" href="#letra-v">V</a>
            <a class="letra-indice" href="#">W</a>
            <a class="letra-indice" href="#">X</a>
            <a class="letra-indice" href="#">Y</a>
            <a class="letra-indice indice-bottom" href="#letra-z">Z</a>

        </div>

        <div class="lista-de-telefones" id="#lista">

            <div class="contato" id="letra-a">
                <p class="label-contato"><strong>ABAM</strong></p>
                <p class="info-contato">Associação Brasileira de Auxílio Mútuo ao Servidor Público</p>
                <div class="tel-contato"><strong>2232-4580</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Aerobarcas</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2533-4343</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Aeroporto Internacional</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2432-7070</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Aeroporto de Jacarepaguá</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2620-8589</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Aeroporto Santos Dumont</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>3398-5050</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>AFDM - BRASIL</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>3398-4526</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Agência Nacional de Saúde</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>3398-4527</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Água e esgoto</strong></p>
                <p class="info-contato">Cedae (Companhia Estadual de Águas e Esgotos)</p>
                <div class="tel-contato"><strong>0800-2821-195</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Al-Anon</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2507-4558</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Alcoólicos Anônimos</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2507-5830</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Alô Rio</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2542-8080</strong></div>
                <div class="tel-contato"><strong>2542-8004</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Ambulância</strong></p>
                <p class="info-contato">Serviço Público de Remoção de Doentes - SAMU</p>
                <div class="tel-contato"><strong>192</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Ampla</strong></p>
                <p class="info-contato">Iluminação e energia</p>
                <div class="tel-contato"><strong>0800-2821-195</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>ANATEL</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800-282-1195</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Animais</strong></p>
                <p class="info-contato">Suipa (Sociedade União Internacional Protetora dos Animais)</p>
                <div class="tel-contato"><strong>2501-1529</strong></div>
                <div class="tel-contato"><strong>2501-9954</strong></div>
                <div class="tel-contato"><strong>2261-6875</strong></div>
                <div class="tel-contato"><strong>2501-8691</strong></div>
                <div class="tel-contato"><strong>2261-9405</strong></div>
                <div class="tel-contato"><strong>2501-1085</strong></div>
                <div class="linha-contato"></div>
            </div>


            <div class="contato">
                <p class="label-contato"><strong>Anjos do Asfalto</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2590-2121</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>ASEP</strong></p>
                <p class="info-contato">Agência Reguladora de Serviços Públicos do Rio de Janeiro</p>
                <div class="tel-contato"><strong>2253-4813</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Atendimento ao Turista</strong></p>
                <p class="info-contato">Centro Integrado de Atendimento ao Turista</p>
                <div class="tel-contato"><strong>2541-7522</strong></div>
                <div class="tel-contato"><strong>2542-8004</strong></div>
                <div class="tel-contato"><strong>2542-8080</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>APAE</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2220-5065</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-b">
                <p class="label-contato"><strong>Banco Central</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2253-9283</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Banco de Sangue</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800-280-0120</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>BPTur</strong></p>
                <p class="info-contato">Batalhão de Policiamento em Áreas Turísticas</p>
                <div class="tel-contato"><strong>2332-7932</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Barcas</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>133</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-c">
                <p class="label-contato"><strong>Caixa Econômica Federal</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>3978-8827</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>CAS</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>3978-8829</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Cedae</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800-24-9040</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>CEG</strong></p>
                <p class="info-contato">Gás</p>
                <div class="tel-contato"><strong>0800-24-7766</strong></div>
                <div class="tel-contato"><strong>0800-282-0205</strong></div>
                <div class="tel-contato"><strong>0800-979-2345</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>CET-Rio</strong></p>
                <p class="info-contato">Trânsito</p>
                <div class="tel-contato"><strong>2226-5566</strong></div>
                <div class="tel-contato"><strong>0800-282-0708</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Comlurb</strong></p>
                <p class="info-contato">Companhia Municipal de Limpeza Urbana</p>
                <div class="tel-contato"><strong>2204-9999</strong></div>
                <div class="tel-contato"><strong>2214-7073</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Corpo de Bombeiros</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>193</strong></div>
                <div class="linha-contato"></div>
            </div>


            <div class="contato">
                <p class="label-contato"><strong>Correios</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800-570-0100</strong></div>
                <div class="linha-contato"></div>
            </div>


            <div class="contato">
                <p class="label-contato"><strong>Crianças desaparecidas</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2286-8337</strong></div>
                <div class="tel-contato"><strong>2226-6375</strong></div>
                <div class="tel-contato"><strong>2286-7631</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>CVV</strong></p>
                <p class="info-contato">Centro de Valorização da Vida</p>
                <div class="tel-contato"><strong>0800-726-0101</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Defesa Civil</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>199</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-d">
                <p class="label-contato"><strong>Defesa Civil Estadual</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>3399-4302</strong></div>
                <div class="tel-contato"><strong>3399-4301</strong></div>
                <div class="tel-contato"><strong>2293-1713</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Defesa Civil Municipal</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>199</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Delegacia de Atendimento ao Turista</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800-282-1195</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Delegacia da Mulher</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>142</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Detran</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800-20-4040</strong></div>
                <div class="tel-contato"><strong>0800-24-7766</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Direitos Humanos</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2508-5500</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque-Aids</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800-570-0100</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque-Amamentação</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>141</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque Barulho</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2503-2795</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque Denúncia</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2253-1177</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque Intoxicação</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>0800 722 6001</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque Procon</strong></p>
                <p class="info-contato">Defesa do consumidor</p>
                <div class="tel-contato"><strong>1512</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque Sinal</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2508-5500</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque Transportes</strong></p>
                <p class="info-contato">Trânsito</p>
                <div class="tel-contato"><strong>2286-8010</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Disque Verde</strong></p>
                <p class="info-contato">Patrulha ambiental</p>
                <div class="tel-contato"><strong>2498-1001</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-g">
                <p class="label-contato"><strong>GAT</strong></p>
                <p class="info-contato">Grupamento de Apoio ao Turista</p>
                <div class="tel-contato"><strong>2535-3780</strong></div>
                <div class="tel-contato"><strong>2535-2385</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-l">
                <p class="label-contato"><strong>Light</strong></p>
                <p class="info-contato">Iluminação e energia</p>
                <div class="tel-contato"><strong>0800-282-0120</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-m">
                <p class="label-contato"><strong>Moradores de rua</strong></p>
                <p class="info-contato">Secretaria de Estado de Assistência Social e Direitos Humanos</p>
                <div class="tel-contato"><strong>2299-5451</strong></div>
                <div class="tel-contato"><strong>2299-5697</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-p">
                <p class="label-contato"><strong>Polícia Civil</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>197</strong></div>
                <div class="linha-contato"></div>
            </div>


            <div class="contato">
                <p class="label-contato"><strong>Polícia Federal</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>194</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Polícia Militar</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>190</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Poda ou remoção de árvores</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2221-2574</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Praças abandonadas</strong></p>
                <p class="info-contato">Fundação Parques e Jardins</p>
                <div class="tel-contato"><strong>2323-3500</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-r">
                <p class="label-contato"><strong>RioLuz</strong></p>
                <p class="info-contato">Iluminação e energia</p>
                <div class="tel-contato"><strong>3907-5600</strong></div>
                <div class="tel-contato"><strong>2535-5151</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Rodoviária Novo Rio</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2263-4857</strong></div>
                <div class="tel-contato"><strong>3213-1800</strong></div>
                <div class="tel-contato"><strong>R 397</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-s">
                <p class="label-contato"><strong>Secretaria Municipal de Assistência Social</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>3973-3800</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-t">
                <p class="label-contato"><strong>Tapa buraco</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2589-1234</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>Telefonia</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>10331</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato">
                <p class="label-contato"><strong>TURISRIO</strong></p>
                <p class="info-contato">Companhia de Turismo do Estado do Rio de Janeiro</p>
                <div class="tel-contato"><strong>0800 282 2007</strong></div>
                <div class="tel-contato"><strong>2333-1037</strong></div>
                <div class="linha-contato"></div>
            </div>

            <div class="contato" id="letra-v">
                <p class="label-contato"><strong>Vigilância sanitária</strong></p>
                <p class="info-contato"></p>
                <div class="tel-contato"><strong>2503-2280</strong></div>
                <div class="tel-contato"><strong>2215-0690</strong></div>
                <div class="linha-contato"></div>
            </div>

        </div>

        <img src="../svg/sombra-lista-tel.svg" class="sombra-lista-tel">

    </div>


    <div class="conteiner-logo">
        <div class="logo-alerj-top-dc">
            <a href="../index.html"><img src="../svg/logo-alerj-monocromatica.svg"></a>
        </div>
        <h1 class="nome-cmissao">COMISSÃO PARA PREVENIR <br/>E COMBATER A PIRATARIA</h1>
    </div>


    <div class="fundo-form-cabecalho">
        <div class="balao-chat">
            <img src="../svg/logo-alo-alerj.svg" class="logo-com-tel-dc">
        </div>
    </div>



    <div class="barra-azul-top"></div>
    <div class="barra-dourada-top"></div>
</div>


<!--Chat-->
<div class="chat">
    <div id="comunicacao">
        <div class="infos">
            <p class="titulo-comissao">DISQUE PIRATARIA</p>
            <div class="linha-info"></div>
            <div class="tel-comissao">0800 282 3596</div>
            <div class="linha-info"></div>
            <a href="http://www.alerj.rj.gov.br/cdc/" target="_blank"> <div class="link-site"><strong>http://www.alerj.rj.gov.br/cdc/</strong></div> </a>
            <p class="outras-info">Atendimento das 8h às 20h</p>
        </div>
    </div>
</div>


<!--Conteudo-->
<div class="conteiner-conteudo">
    <img src="http://1.bp.blogspot.com/-0W62tYZer8k/UDUqHyVqi4I/AAAAAAAAAGw/0K6UGj02kuY/s1600/REVISTA+PAGINA+DUPLA.jpg" class="imagem-comissao-pirataria">
    <div>
        <p class="texto-comissao">A Comissão para Prevenir e Combater a Pirataria investiga pontos de comercialização de produtos piratas e trabalha para combatê-los. Para isso, conta com a ajuda da população, que pode fazer denúncias anônimas por meio do Alô Alerj.  Produtos ou obras piratas são aqueles que infringem patentes, direitos autorais ou são reproduções não autorizadas.
            Cabe à comissão:</p>
        <ul id="ul-pirataria">
            <li>Manifestar-se sobre todas as proposições pertinentes a assuntos relacionados à pirataria</li>
            <li>Fiscalizar e acompanhar os programas, projetos e ações governamentais na área de combate à pirataria</li>
            <li>Estimular ações da sociedade civil voltadas ao combate à pirataria no Estado</li>
            <li>Realizar discussões sobre o tema</li>
            <li>Promover campanhas de conscientização</li>
            <li>Propor ações preventivas aos governos e estimular pesquisas sobre o assunto</li>
        </ul>

    </div>

</div>


<!--Rodapé-->


<div id="rodape">
    <div class="botoes-rodape">


        <a href="comissao-dc.html" id="defesa-do-consumidor" class="botao-e">
            <div class="text-e">DISQUE DEFESA DO CONSUMIDOR</div><div class="text-d">0800 023 0007</div>
        </a>

        <a href="comissao-ma.html" id="meio-ambiente" class="botao-e">
            <div class="text-e">DISQUE DENÚNCIA MEIO AMBIENTE</div><div class="text-d">0800 282 7060</div>
        </a>

        <a href="comissao-dp.html" id="disque-preconceitos" class="botao-e">
            <div class="text-e">DISQUE PRECONCEITOS</div><div class="text-d">0800 025 5108</div>
        </a>

        <a href="comissao-pirataria.html" id="disque-pirataria" class="botao-e">
            <div class="text-e">DISQUE PIRATARIA</div><div class="text-d">0800 282 0230</div>
        </a>

        <a href="comissao-pd.html" id="disque-pessoa-deficiente" class="botao-e">
            <div class="text-e">DISQUE PESSOA PORTADORA DE DEFICIÊNCIA</div><div class="text-d">0800 282 3596</div>
        </a>

        <a href="comissao-sa.html" id="disque-saneamento-ambiental" class="botao-e">
            <div class="text-e">DISQUE SANEAMENTO AMBIENTAL</div><div class="text-d">0800 282 1559</div>
        </a>

        <a href="comissao-sp.html" id="seguranca-publica" class="botao-e">
            <div class="text-e">DISQUE SEGURANÇA PUBLICA</div><div class="text-d">0800 023 9191</div>
        </a>



    </div>

    <!--<div class="barra-cinza"></div>-->
    <img src="../svg/logo-alerj-rodape.svg" class="logo-alerj-rodape">

    <div class="linha-dourada"></div>

    <div class="fundo-azul">
        <div class="linha-dourada-fina"></div>
        <div class="corpo-comissoes">
            <p class="text-comissoes">COMISSÕES</p></a>
        </div>
    </div>

</div>

<script>
    var isShowing = false;

    jQuery(function()
    {
        jQuery('#btn-telefones-uteis').click(function()
        {
            if ( ! isShowing)
            {
                jQuery('#agenda-tel-uteis').show(function()
                {
                    isShowing = true;
                });
            }
        });

        jQuery(document).click(function(evt)
        {
            if(jQuery(evt.target).closest('.agenda-tel-uteis').length)
            {
                return;
            }

            if(jQuery(evt.target).closest('.indice').length)
            {
                return;
            }

            if (isShowing)
            {
                jQuery('#agenda-tel-uteis').hide();

                isShowing = false;
            }
        });
    });
</script>

<!--<script>-->
<!--jQuery(function() {-->
<!--jQuery('a[href*=#]:not([href=#])').click(function() {-->
<!--if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {-->
<!--var target = jQuery(this.hash);-->
<!--target = target.length ? target : jQuery('[name=' + this.hash.slice(1) +']');-->
<!--console.log(target);-->
<!--if (target.length) {-->
<!--jQuery(jQuery(target).parent()).animate({-->
<!--scrollTop: target.offset().top-->
<!--}, 1500);-->
<!--return false;-->
<!--}-->
<!--}-->
<!--});-->
<!--});-->
<!--</script>-->
</body>
</html>
