<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width:device-width">
   <title>Alô Alerj</title>
   <link rel="stylesheet" type="text/css" href="comissao360.css" media="all">
   <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>

<!--    <div class="teste-animation"></div>
 -->
<!--Cabeçalho-->
<div id="cabecalho">

   <div class="buton-tel-uteis">
      <div>
         <img src="svg/fundo-button-tel.svg" class="buton-fundo-tel-uteis">
      </div>
   </div>

   <div class="logo-alerj-top" >
      <img src="svg/logo-alerj-monocromatica.svg">
   </div>
   <div class="fundo-form-cabecalho">
      <div class="logo-alo-alerj">
         <img src="svg/logo-alo-alerj.svg">
      </div>
   </div>
   <div class="barra-azul-top"></div>
   <div class="barra-dourada-top"></div>
</div>


<!--informações e telefone-->
<div id="comunicacao">
      <div>
         <h1>DISQUE CRIANÇA</h1>
         <div class="linha-azul"></div>
         <div class="linha-azul2"></div>
         <p class="atendimento">Atendimento pelo telefone das 8h às 20h.</p>
         <div class="tarja-tel">
            <div class="tel">0800 023 0007</div>
         </div>
      </div>

      <div class="video-imagem"></div>
      <p class="texto-app">Com 1.219 ligações registradas em 2011, o Disque-Criança da Assembleia Legislativa do Rio de Janeiro (Alerj) é o canal gratuito através do qual o cidadão pode denunciar maus tratos e abuso sexual contra menores, tirar dúvidas quanto à legislação e aos direitos das crianças. Disponível através do telefone 0800 023 0007, o serviço funciona de segunda a sexta-feira, entre as 9h e as 18h. Confira a seguir o video e conheça mais sobre o Disque-Criança da Alerj.</p>

</div>



<!--Rodapé-->
<div id="rodape">
   <div class="barra-cinza"></div>
   <img src="svg/logo-alerj-rodape.svg" class="logo-alerj-rodape">
   <div class="corpo-comissoes">
      <p class="text-comissoes">COMISSÕES</p>
   </div>

   <div id="lista-tel-1">
      <table class="tabela">
         <tbody>
         <tr><td class="text-tab-d">DISQUE CRIANÇA</td><td class="text-tab-e">0800 023 0007</td></tr>
         <tr><td class="text-tab-d">DEFESA DO CONSUMIDOR</td><td class="text-tab-e">0800 282 7060</td></tr>
         <tr><td class="text-tab-d">DEFESA DOS DIREITOS HUMANOS</td><td class="text-tab-e">0800 025 5108</td></tr>
         <tr><td class="text-tab-d">DISQUE DENÚNCIA MEIO AMBIENTE</td><td class="text-tab-e">0800 282 0230</td></tr>
         <tr><td class="text-tab-d">DISQUE DENÚNCIA TRABALHO</td><td class="text-tab-e">0800 282 3596</td></tr>
         <tr><td class="text-tab-d">DISQUE EDUCAÇÃO</td><td class="text-tab-e">0800 282 1559</td></tr>
         <tr><td class="text-tab-d">DISQUE IDOSO</td><td class="text-tab-e">0800 023 9191</td></tr>
         </tbody>
      </table>
   </div>

   <div id="lista-tel-2">
      <table class="tabela2">
         <tbody>
         <tr><td class="text-tab-d">DISQUE PRECONCEITOS</td><td class="text-tab-e">0800 282 0802</td></tr>
         <tr><td class="text-tab-d">DISQUE PIRATARIA</td><td class="text-tab-e">0800 282 6582</td></tr>
         <tr><td class="text-tab-d">DISQUE PESSOA DEFICIENTE</td><td class="text-tab-e">0800 285 5005</td></tr>
         <tr><td class="text-tab-d">DISQUE SANEAMENTO AMBIENTAL</td><td class="text-tab-e">0800 282 8815</td></tr>
         <tr><td class="text-tab-d">DISQUE SEGURANÇA ALIMENTAR</td><td class="text-tab-e">0800 282 0376</td></tr>
         <tr><td class="text-tab-d">SOS MULHER</td><td class="text-tab-e">0800 282 0119</td></tr>
         <tr><td class="text-tab-d">SEGURANÇA PUBLICA</td><td class="text-tab-e">0800 282 3135</td></tr>
         </tbody>
      </table>
   </div>
</div>

</body>
</html>