<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Alô Alerj</title>
      <style type="text/css"></style>
      <link rel="stylesheet" type="text/css" href="home.css">
      <link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
   </head>
   <body>

<!--    <div class="teste-animation"></div>
 -->
      <!--Cabeçalho-->
      <div id="cabecalho" class="barra-fundo-cabecalho">

      <div class="buton-tel-uteis">
         <div>
            <img src="svg/fundo-button-tel.svg" class="buton-fundo-tel-uteis">
         </div>
      </div>

         <div class="logo-alerj-top">
            <img src="svg/logo-alerj-monocromatica.svg">
         </div>
         <div class="fundo-form-cabecalho">
            <div id="logo-alo-alerj">
               <img src="svg/logo-alo-alerj.svg">
            </div>
         </div>
         <div class="barra-azul-top"></div>
         <div class="barra-dourada-top"></div>
      </div>
      <!--Video-->
      <div id="comunicacao">
         <div class="fundo-form-video">

         </div>
      </div>
      <!--Depoimentos-->
      <div id="depoimentos" class="fundo-historia">

      </div>


      <!--Rodapé-->
      
      <div id="rodape">
      	<div class="linha-comissoes"></div>
      	 <div class="titulo-comissoes">
            <p>COMISSÕES</p>
            
         </div>
         <div class="espaco-listas">
            <div class="lista-1">
               <ul>
                  <li>DISQUE CRIANÇA</li>
                  <li>DEFESA DO CONSUMIDOR</li>
                  <li>DEFESA DOS DIREITOS HUMANOS</li>
                  <li>DISQUE DENÚNCIA MEIO AMBIENTE</li>
                  <li>DISQUE DENÚNCIA TRABALHO</li>
                  <li>DISQUE EDUCAÇÃO</li>
                  <li>DISQUE IDOSO</li>
               </ul>
            </div>
            <div class="lista-2">
               <ul>
                  <li>DISQUE PRECONCEITOS</li>
                  <li>DISQUE PIRATARIA</li>
                  <li>DISQUE PESSOA DEFICIENTE</li>
                  <li>DISQUE SANEAMENTO AMBIENTAL</li>
                  <li>DISQUE SEGURANÇA ALIMENTAR</li>
                  <li>SOS MULHER</li>
                  <li>SEGURANÇA PUBLICA</li>
               </ul>
            </div>
         </div>
         <div class="fundo-rodape">
         	<div class="linha-dourada"></div>
            <div class="area-rodape">
               <img src="svg/logo-alerj-rodape.svg" class="logo-alerj-rodape">
            </div>
         </div>
      </div>
   </body>
</html>