.barra-fundo-cabecalho {
    width: 100%;
    height: 176px;
    background-color: #C7CCD6;
    position: absolute;
    top: 0;
    left: 0;

}

.logo-alerj-top {
    width: 132px;
    position: relative;
    left: 16.6%;
}

#logo-alo-alerj {
    width: 56%;
    position: relative;
    left: 24%;
    top: 40px;
    z-index: 10;
}

.fundo-form-cabecalho {
    width: 353px;
    height: 100%;
    background-color: #E7E8EC;
    position: absolute;
    top: 0;
    left: 61%;
    border-right: 0.7rem;
    border-left: 0.7rem;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #ECECEF;
    z-index: 5;

}

.barra-azul-top {
    width: 100%;
    height: 14%;
    background-color: #172B53;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;

}

.barra-dourada-top {
    width: 100%;
    height: 2%;
    background-color: #8FA143;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;

}

.espaco-video {
    width: 100%;
    height: 588px;
    background-color: #FFFFFF;
    position: absolute;
    top: 177px;

}

.fundo-form-video {
    width: 353px;
    height: 588px;
    background-color: #E7E8EC;
    position: absolute;
    top: 176px;
    left: 61%;
    border-right: 0.7rem;
    border-left: 0.7rem;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: #ECECEF;
    z-index: 10;
}

.fundo-historia {
    width: 100%;
    height: 680px;
    background-color: #C7CCD6;
    position: absolute;
    top: 764px;
    left: 0;
}

.position-aspas{
    width: 68%;
    height: 65%;
    position: absolute;
    top: 142px;
    left: 15%;
}

.aspas-esquerda {
    width: 114px;
    height: 108px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.aspas-direita {
    width: 224px;
    height: 215px;
    position: absolute;
    bottom: 0;
    right: -5%;
    z-index: 1;
}

.h2 {
    font-family: 'Maven Pro', sans-serif, 'Bold 700';
    font-size: 20pt;
    color: #172B53;
    position: absolute;
    top: 0px;
    left: 8%;
}

.h3 {
    font-family: 'Maven Pro', sans-serif, 'Medium 500';
    font-size: 12pt;
    color: #172B53;
    position: absolute;
    top: 40px;
    left: 8%;
}

.citacao-depoimento {
    font-family: 'Maven Pro', sans-serif, 'Normal 400';
    font-size: 11pt;
    color: #172B53;
    position: absolute;
    top: 90px;
    width: 40%;
    height: 385px;
    left: 8%;
    line-height: 200%;
}

.foto-depoimento {
    width: 380px;
    height: 290px;
    position: absolute;
    top: 40px;
    left: 60%;
    z-index: 15;
    border-right: 10px;
    border-left: 10px;
    border-top: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: #E2E3E8;
}

/* BOTÃO BÁSICO */

.but {
    display: inline-block;
    background-color: #8FA143;
    color: #172B53;
    padding: 10px 20px;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Maven Pro', sans-serif, 'Normal 400';
    font-size: 14px;
    border: 0px;
    position: absolute;
    top: 300px;
    left: 7.5%;
    border-radius: 5px;
}

.but:hover {
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
}

.box-depoimento {
    width: 60%;
    height: 380px;
    position: relative;
    top: 175px;
    left: 44%;
    z-index: 25;
    margin-left: -25%;
}

.fundo-rodape {
    width: 100%;
    height: 247px;
    background-color: #172B53;
    position: absolute;
    top: 1437px;
    left: 0;
}

.linha-dourada {
    width: 100%;
    height: 4px;
    background-color: #8FA143;
    position: absolute;
    bottom: 0;
}

.area-rodape {
    width: 56.6%;
    height: 285px;
    position: absolute;
    bottom: 0;
    left: 24%;
}

.logo-alerj-rodape {
    width: 214px;
    height: 284px;
    position: absolute;
    left: 73%;
    bottom: 0;
    z-index: 20;
}

.espaco-listas {
    width: 740px;
    height: 155px;
    z-index: 30;
    position: absolute;
    top: 1480px;
    left: 24%;
}

.titulo-comissoes {
    width: 73px;
    height: 15px;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 1443px;
    left: 24%;
    color: #C7CC44;
    z-index: 35;
}

.linha-comissoes {
    width: 530px;
    height: 1px;
    position: absolute;
    top: 1483px;
    left: 24%;
    background-color: #C7CC44;
    z-index: 35;
}

.lista-1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    list-style-type: none;
    color: #FFFFFF;
    top: 0;
    left: -5.5%;
}

.lista-2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    position: absolute;
    color: #FFFFFF;
    top: 0;
    left: 39%;
}

li {
    list-style-type: none;
}

label {
    font-family: 'Maven Pro', sans-serif, 'Normal 400';
    font-size: 12pt;
    color: #172B53;
    position: absolute;
    left: 3%;
}

#label-nome {
    position: absolute;
    top: 0;
}

#input-nome {
    position: absolute;
    width: 92%;
    height: 25px;
    left: 3%;
    top: 3.5%;
}

#label-email {
    position: absolute;
    top: 12%;

}

#input-email {
    position: absolute;
    width: 92%;
    height: 25px;
    left: 3%;
    top: 15.5%;
}

#label-sua-pergunta {
    position: absolute;
    top: 24%;

}

#input-sua-pergunta {
    position: absolute;
    width: 92%;
    height: 150px;
    left: 3%;
    top: 27.5%;
}

#label-destino {
    position: absolute;
    top: 58%;
}

#input-destino {
    position: absolute;
    width: 93.8%;
    height: 25px;
    left: 3%;
    top: 61.5%;
}

.input {
    border-radius: 5px;
    border-color: #172B53;
    border: 1px solid;
}

.iniciar-conversa {
    position: absolute;
    width: 93.8%;
    height: 50px;
    left: 3%;
    top: 70%;
    border-radius: 5px;
    border-color: #172B53;
    border: 1px solid;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #172B53;
    background-color: #4EC636;
}

.position-input-chat {
    position: absolute;
    width: 353px;
    height: 588px;
    top:9%;
}

.durex-historia-de-vida {
    width: 276px;
    height: 66px;
    z-index: 40;
    position: absolute;
    top: -4.5%;
    left: 68%;

}

.teste-animation {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
}

.teste-animation:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buton-fundo-tel-uteis{

    height: 59px;
    width: 197px;
    position: absolute;
    right: 0;
    top: 0;

}


.buton-tel-uteis {
    height: 59px;
    width: 59px;
    position: absolute;
    top:68px;
    right: 43%;
    overflow: hidden;
    display: block;

    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;

    /*Rounded Corners*/
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

}

.buton-tel-uteis:hover {
    width:300px;
}


